# Project 1 - Chapter 1 - Essentials

In [1]:
print("Hello World!")

Hello World!

We just used the print function. Print will print whatever object is passed to it. We passed the string, "Hello World!", and it printed after the code.

# Introduction to Jupyter

This is the first program I have written in ECON 411/611. Next, we will start working string variables.

In [2]:
msg = "john nash"
print(msg)

john nash

Next, we are going to use the string methods to capitalize different letters.

The method *.upper()* will make the string all caps, *.title()* will capitalize the first letters of each string.

In [3]:
print(msg.upper())
print(msg.title())

JOHN NASH
John Nash

## String Concatenation

You can concatenate string using the plus "+" sign. That means that you join them in order to create a single aggregate string.

In [4]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

print(line1)
print(line2)
print(line3)
print(line4)

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

In [5]:
print(line1+line2+line3+line4)

You thought it would be easyYou thought it wouldn't be strangeBut then you started codingThings never were the same

In [6]:
concat_strings = line1+line2+line3+line4
print(concat_strings)

You thought it would be easyYou thought it wouldn't be strangeBut then you started codingThings never were the same

The *sep* option in *print()* allows you to determine the character that will be printed in lieu of each comma.

In [7]:
print(line1,line2,line3,line4, sep = "\n")

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

By using the option, sep = "\n", each comma is interpretted as a new line. This would be the same as adding "\n" to every line.

In [9]:
print(line1 + "\n", 
      line2 + "\n", 
      line3 + "\n",
      line4 + "\n", 
      sep = "")

You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

## Distinction between double and single quotes

In [4]:
single_in_double = "We may use 'single quotes' within double quotes"
double_in_single = 'We  may use "double quotes" in double quotes'
double_in_double = "We may use \"double quotes\" in double quotes."
single_in_single = 'We may use \'single quotes\' in single quotes.'

print(single_in_double)
print(double_in_single)
print(double_in_double)
print(single_in_single)

We may use 'single quotes' within double quotes
We  may use "double quotes" in double quotes
We may use "double quotes" in double quotes.
We may use 'single quotes' in single quotes.

We are going to add \n and \t to the current example.

In [7]:
read_backslash = \
    "We may use two backslashes for a single backslash: \\"
new_line_and_tab = \
    "We may start a new line \n\tand use tab for a hanging indent"
print(read_backslash)
print(new_line_and_tab)

We may use two backslashes for a single backslash: \
We may start a new line
	and use tab for a hanging indent

# Using .strip() and .replace() string methods

Sometimes we may want to transform strings by adding or removing spaces. We can remove space quite easily with the strip() commands.

>    .lstrip(): remove spaces on the far left
>
>    .rstrip(): remove spaces on the far right
>
>    .strip(): remove spaces on the left and right of text object

In [11]:
spaces = "    Look at the spaces in the text!    "
print("no spaces removed:", spaces, sep = "\n")

remove_left_spaces = spaces.lstrip()
remove_right_spaces = spaces.rstrip()
remove_left_and_right_spaces = spaces.strip()
remove_all_spaces = spaces.replace(" ","")

print("Remove left spaces:", remove_left_spaces)
print("Remove right spaces:", remove_right_spaces)
print("Remove left and right spaces:", remove_left_and_right_spaces)
print("Remove all spaces:", remove_all_spaces)

print("Capitalize all first letters:", remove_left_spaces.title())

no spaces removed:
    Look at the spaces in the text!
Remove left spaces: Look at the spaces in the text!
Remove right spaces:     Look at the spaces in the text!
Remove left and right spaces: Look at the spaces in the text!
Remove all spaces: Lookatthespacesinthetext!
Capitalize all first letters: Look At The Spaces In The Text!

# Working with Values

Using a plus sign "+" between values sums the values. Using the sign between strings concatenates them.

In [13]:
num1 = 5 + 3
num1s = "5" + "3"

print("num1:", num1,"\nnum1s:", num1s)

num1: 8
num1s: 53

In [14]:
num1 = 5 / 3
num2 = 5 / 4
num3 = 4 / 3

print("num1:", num1)
print("num2:", num2)
print("num3:", num3)

num1: 1.6666666666666667
num2: 1.25
num3: 1.3333333333333333

Python will automatically transform int values if the output from the int generates a float, including when a float and int are added together.

In [19]:
type(num1)

float

In [20]:
type(3)

int

In [22]:
float(3)

3.0

In [25]:
type(1.5)

float

In [23]:
3 + 1.5

4.5

In [27]:
type(3 + 1.5)

float

The *import* command is used to import a module.

In [29]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [34]:
2. ** 1023

8.98846567431158e+307

In [35]:
2. ** 1024

OverflowError: (34, 'Result too large')

# Homework

Make sure that you review the homework problems in Project 1 from the "In Class Projects" folder. These problems will not be collected, but they will be helpful to you.