# Project 2 - Working with Lists
## Working with Lists


|New Concepts | Description|
| --- | --- |
| Dynamic List | A dynamic list is encapsulated by brackets _([])_. A list is mutable. Elements can be added to or deleted from a list on the fly.|
| List Concatenation | Two lists can be joined together in the same manner that strings are concatenated. |
| List Indexing | Lists are indexed with the first element being indexed as zero and the last element as the length of (number of elements in) the list less one. Indexes are called using brackets – i.e., _lst[0]_ calls the 0th element in the list. |

In [1]:
empty_list = []
empty_list, type(empty_list)

([], list)

In [2]:
int_list = [1,2,3,4,5]
int_list, type(empty_list)

([1, 2, 3, 4, 5], list)

In [3]:
float_list = [1.,2.,3.,4.,5.]
float_list, type(float_list)

([1.0, 2.0, 3.0, 4.0, 5.0], list)

In [4]:
string_list = ["Many words", "impoverished meaning"]
string_list, type(string_list)

(['Many words', 'impoverished meaning'], list)

In [5]:
mixed_list = [1, 2., "Mix it up"]
mixed_list, type(mixed_list)

([1, 2.0, 'Mix it up'], list)

## Concatenation: Lists

In [6]:
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [7]:
#similar to concatenating strings

str1 = "1"
str2 = "2"
join_strs = str1 + str2
join_strs

'12'

# For Loops and _range()_


| New Concepts | Description |
| --- | --- |
| _list(obj)_ | List transforms an iterable object, such as a tuple or set, into a dynamic list. |
| _range(j, k , l)_ | Identifies a range of integers from _j&nbsp;_ to _k–1_ separated by some interval _l_. |
|_len(obj)_ | Measure the length of an iterable object. |



a for loop using in range will cycle through variable i from integer j to k - 1 by increments of l
**for i in range(j, k, l)**:

    execute script

In [8]:
for i in range(1, 10 ** 2):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [9]:
total = 0
for i in range(1, 101):
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050

In [10]:
total = 0
for i in range(1, 101, 2):
    total = total + i
    print(i, total)

1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

In [11]:
list1 = [543,342,6,435,543]
str1 = "jhti4k3h2u3i"

for val in list1:
    print(val)

for string in str1:
    print(string, string == "k")

543
342
6
435
543
j False
h False
t False
i False
4 False
k True
3 False
h False
2 False
u False
3 False
i False

In [12]:
list1 = [1,2] 
list2 = [3,4]
list1 + list2

[1, 2, 3, 4]

## More on range()

In [13]:
# create a list by appending values to the list
list1 = []
for i in range(0,9, 2):
    print(i)
    list1.append(i)
    
print(list1)

0
2
4
6
8
[0, 2, 4, 6, 8]

In [14]:
# create a list by passing range(i,j,l)), 
#  more efficient alternative to using append within a for loop

list2 = list(range(0,9, 1))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Using len() with range

In [15]:
list2_len = len(list2)
print("i","val")
for i in range(list2_len):
    print(i, list2[i])

i val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

### Nested for-loop

In [16]:
print("i","list")

# create a new list2 according to the inverval values called by the for loop
for interval in range(1, 6):
    list2 = list(range(0,9, interval))
    print(interval, list2)
    list2_len = len(list2)
    print("length:", list2_len)
    print("j", "val")
    for j in range(list2_len):
        print(j, list2[j])

i list
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length: 9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length: 5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length: 3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length: 3
j val
0 0
1 4
2 8
5 [0, 5]
length: 2
j val
0 0
1 5

## If statements and boolean variables

In [17]:
# Boolean
True

True

In [18]:
False

False

In [19]:
True * False

0

In [20]:
True * True

1

In [21]:
boolean = True

# conditional statement // if statement
if boolean: # if boolean == True
    print(boolean)

boolean2 = True
if boolean2 == False: # if boolean2 == True
    print(boolean2)
    print("if boolean2 is false, then you just printed this text. If not, then nothing happend")

True

In [22]:
False == False

True

In [23]:
1 == True

True

In [24]:
# != is "not equal to"
1 != True

False

## use a boolean variable and a conditional statement (if statement) to track the appearance of the word "ate"

In [25]:
words = ["The", "dog", "ate","the","snow", "and", "ate", "his", "dog", "food"]
# does the word "ate" appear in the list? If so, where?
ate_index_list=[]

num_words = len(words)
for i in range(num_words):
    # save the string at index i as word
    word = words[i]
    # is_ate is a boolean variable that tells whether or not the current word is "ate"
    is_ate = word == "ate"
    print(i, "Is the word", word, "\"ate\"?:", is_ate)
    
    # if the word is "ate", then add the index to the list so that we can have
    #  an easy to reference record of the indices where ate appears
    if is_ate:
        ate_index_list.append(i)
ate_index_list

0 Is the word The "ate"?: False
1 Is the word dog "ate"?: False
2 Is the word ate "ate"?: True
3 Is the word the "ate"?: False
4 Is the word snow "ate"?: False
5 Is the word and "ate"?: False
6 Is the word ate "ate"?: True
7 Is the word his "ate"?: False
8 Is the word dog "ate"?: False
9 Is the word food "ate"?: False

[2, 6]

## if, else, and elif

In [26]:
random_numbers = [1,6,23,765432,432,1,34,43,5,7,4]

# is the number greater than 10
not_greater_than_10 = []
greater_than_10 = []
for number in random_numbers:
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    else:
        print(number, "is not great than 10")
        not_greater_than_10.append(number)

1 is not great than 10
6 is not great than 10
23 is greater than 10
765432 is greater than 10
432 is greater than 10
1 is not great than 10
34 is greater than 10
43 is greater than 10
5 is not great than 10
7 is not great than 10
4 is not great than 10

In [27]:
not_greater_than_10

[1, 6, 1, 5, 7, 4]

In [28]:
greater_than_10

[23, 765432, 432, 34, 43]

In [29]:
random_numbers = [1,6,23,765432,432,1,34,43,5,7,4, -1,-45, "8.5"]

# is the number greater than 10
greater_than_10 = []
zero_to_10 = []
negative_numbers = []
for number in random_numbers:
    
    # what if you want to catch strings that might be in your list?
    if type(number) == str: number = float(number)
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    # if a number is 10 or less, the program will read the elif statement and test
    #  that the number is zero or greater, this catches all the number in the domain [0, 10]
    elif number >= 0 :
        print(number, "is the domain of 0 and 10")
        zero_to_10.append(number)
    # the else statement catches any numbers that are negative since the previous conditional
    #  statements checked if the number was zero or greater
    else:
        print(number, "is negative")
        negative_numbers.append(number)

1 is the domain of 0 and 10
6 is the domain of 0 and 10
23 is greater than 10
765432 is greater than 10
432 is greater than 10
1 is the domain of 0 and 10
34 is greater than 10
43 is greater than 10
5 is the domain of 0 and 10
7 is the domain of 0 and 10
4 is the domain of 0 and 10
-1 is negative
-45 is negative
8.5 is the domain of 0 and 10

In [30]:
greater_than_10, zero_to_10, negative_numbers

([23, 765432, 432, 34, 43], [1, 6, 1, 5, 7, 4, 8.5], [-1, -45])

## use del lst[i]

In [31]:
# use del lst[i] to delete the ith element from lst
del greater_than_10[1] 
del zero_to_10[1]
del negative_numbers[1]
greater_than_10, zero_to_10, negative_numbers

([23, 432, 34, 43], [1, 1, 5, 7, 4, 8.5], [-1])

In [32]:
# passing -1 as a list index calls the last element in the list
#  passing -1 when using del lst[i] will delete the last element in the list
del greater_than_10[-1] 
del zero_to_10[-1]
del negative_numbers[-1]
greater_than_10, zero_to_10, negative_numbers

([23, 432, 34], [1, 1, 5, 7, 4], [])

## use lst.remove(val)

In [33]:
# use lst.remove(val)
greater_than_10.remove(23)

# if you remove a value that appears twice in the list, than the first 
#  appearance of that value will be removed
zero_to_10.remove(1)
greater_than_10, zero_to_10

([432, 34], [1, 5, 7, 4])

## use lst.pop()

In [34]:
last_val_in_lst = greater_than_10.pop()
greater_than_10, last_val_in_lst

([432], 34)

## sorting lists

In [35]:
# sorted(lst) will sort a copy of lst
num_list = [4,1,2,5,543,22]
num_list, sorted(num_list), num_list

([4, 1, 2, 5, 543, 22], [1, 2, 4, 5, 22, 543], [4, 1, 2, 5, 543, 22])

In [36]:
string_list = ["A", "list","of","strings", "is", "in", "string_list"]
string_list, sorted(string_list)

(['A', 'list', 'of', 'strings', 'is', 'in', 'string_list'],
 ['A', 'in', 'is', 'list', 'of', 'string_list', 'strings'])

In [37]:
# lst.sort() will sort the original list object 
num_list.sort()
num_list

[1, 2, 4, 5, 22, 543]

In [38]:
# sorting mixed types will generate an error
# you cannot compare strings and numerical values
sorted(num_list + string_list)

TypeError: '<' not supported between instances of 'str' and 'int'

## list slices

In [39]:
# a slice of a list takes a subset of values from a list
lst = [1,2,3,4,5,6,6,7]
# compare full list to sliced list
lst, lst[2:5]

([1, 2, 3, 4, 5, 6, 6, 7], [3, 4, 5])

In [40]:
# count through the index by twos
#  explicit start and end index values
lst, lst[0:-1:2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

In [41]:
# implicit start and end index values
lst, lst[::2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

## lists and generator functions

In [42]:
# save a generator function without creating a list
generator = (i for i in range(20))
generator

In [43]:
list1 = list(generator)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [44]:
list2 = [2 * i for i in range(20)]
list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [45]:
# be careful not to save over the list function
list = ["a", "list"]
list(i for i in range(20))

TypeError: 'list' object is not callable