# For Loops: Interest Rates

In this lesson we are going to learn what for loops are, how to work with them, and apply them to better understand interest rates and other programming concepts.

## For Loops

For loops are of structure: 
> for i in range(n)
>
> for i in range(start, end + 1, interval)

Let's create some for loops!

In [28]:
# counting with a for loop

for i in range(10, 100):
    print(i, end = ", ") # by default, end = "\n"

10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,

In [29]:
range_list = list(range(10,101))
for i in range_list:
    print(i, end = ", ")

10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,

Code above was made live in class, next is from the project notes

In [30]:
# create a list by entering values individually
lst1 = [0,1,2,3,4,5]
# create a list using list(range())
lst2 = list(range(6))

# Create empty list and fill using a for loop
lst3 = []
# count by ones to 100
for i in range(101):
    lst3.append(i)

lst4 = []
# count by twos
for i in range(0, 101, 2):
    lst4.append(i)

# create list counting by twos using list(range())
lst5 = list(range(0,101,2))
# counting backward
lst6 = list(range(50, -1, -2))
print("lst1:", lst1, sep = "\n")
print("lst2:", lst2, sep = "\n")
print("lst3:", lst3, sep = "\n")
print("lst4:", lst4, sep = "\n")
print("lst5:", lst5, sep = "\n")
print("lst6:", lst6, sep = "\n")

lst1:
[0, 1, 2, 3, 4, 5]
lst2:
[0, 1, 2, 3, 4, 5]
lst3:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
lst4:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
lst5:
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
lst6:
[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

Let's compare .append() .insert():
> The equivalent of lst.append(obj) is lst.insert(-1, obj)

In [31]:
lst7 = []
# create list of numbers from 0 to 100
for i in range(101):
    lst7.insert(i, i)
# You can call the value at some index (location) in the list by calling 
# lst[#]
print(lst7[1])
print(lst7[10])
# identify very last index with -1
print(lst7[-1], lst7[100])
print(lst7[-2], lst7[99])
print(lst7[-3], lst7[98])

1
10
100 100
99 99
98 98

 We can create a list that counts backward without using a for loop that counts backward

In [32]:
# Create a list of numbers that counts backward from 100 to 0
lst8 = []
for i in range(101):
    lst8.insert(0, i)
print(lst8)

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Maybe you do not know the length of a list. You can use len(lst) to count the length of a list.

In [33]:
len_lst1 = len(lst1)
len_lst2 = len(lst2)
len_lst3 = len(lst3)
len_lst4 = len(lst4)
len_lst5 = len(lst5)
len_lst6 = len(lst6)
len_lst7 = len(lst7)
len_lst8 = len(lst8)

print("len lst1:", len_lst1)
print("len lst2:", len_lst2)
print("len lst3:", len_lst3)
print("len lst4:", len_lst4)
print("len lst5:", len_lst5)
print("len lst6:", len_lst6)
print("len lst7:", len_lst7)
print("len lst8:", len_lst8)

for i in range(len(lst1)):
    print(lst1[i], end = ", ")

len lst1: 6
len lst2: 6
len lst3: 101
len lst4: 51
len lst5: 51
len lst6: 26
len lst7: 101
len lst8: 101
0, 1, 2, 3, 4, 5,

### Transforming Dictionaries to Pandas Dataframes

Dictionaries of two forms can be transformed into pandas dataframes. A dictionary can have 1 layer of keys, each of which point to a list:

dct = {"key1":list1,
        "key2:list2,
        "key3:list3}
This results in a dataframe where the keys are interepreted as column names and the list indices are interpreted as row numbers.

In [34]:
dct = {"list1": [1,2,3,4,5],
      "list2":[1 ** 2, 2 ** 2, 3 ** 2, 4 ** 2, 5 ** 2],
      "list3":[1,4,6,3,5]}
dct

{'list1': [1, 2, 3, 4, 5],
 'list2': [1, 4, 9, 16, 25],
 'list3': [1, 4, 6, 3, 5]}

In [35]:
import pandas as pd
df = pd.DataFrame(dct)
df

   list1  list2  list3
0      1      1      1
1      2      4      4
2      3      9      6
3      4     16      3
4      5     25      5

The other way to create a dataframe using a dictionary is to create dictionary of dictionaries:

dct = {"key1:{ind0:elem0,
              ind1:elem1,
              ind2:elem2,
              ind3:elem3,
              ind4:elem4},
       "key2 :{. . .}}

In [36]:
#dct = {"key1:{ind0:elem0,
#              ind1:elem1,
#              ind2:elem2,
#              ind3:elem3,
#              ind4:elem4},
#       "key2 :{. . .}}
dct = {"list1":{i:i for i in range(5)},
      "list2": {0:1**2,
               1:2**2,
               2:3**2,
               3:4**2,
               4:5**2},
      "list3": {0:4,
                1:5,
                2:7,
                3:5,
                4:8}
      }
dct

{'list1': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 'list2': {0: 1, 1: 4, 2: 9, 3: 16, 4: 25},
 'list3': {0: 4, 1: 5, 2: 7, 3: 5, 4: 8}}

In [37]:
df = pd.DataFrame(dct)
df

   list1  list2  list3
0      0      1      4
1      1      4      5
2      2      9      7
3      3     16      5
4      4     25      8

## Calculating Interest Earned

Let's calculate interest payments and FV with python script.

$FV = PV(1+r)^t$

$r = (\frac{FV}{PV})^{1/t}-1$

You can python like a calculator. And conveniently, you can define variables before using them in an equation. This is the strategy that we take in solving for the above equation.

Suppose that two years after you place 1000 dollars in a deposit account, the value o the deposit grows to 1200 dollars. Build python script that calculates the annual interest rate.

In [38]:
FV = 1200
PV = 1000
t = 2
r = (FV / PV) ** (1 / t) - 1
r

0.09544511501033215

Let's test this result to make sure that $PV(1+r)^t$ yields the correct FV.

In [39]:
FV_test = PV * (1 + r) ** t
FV_test

1199.9999999999998

Interest can be compounded annually (once per year) or it can be compounded more than once. If the interest is compounded more than once annually,  in the present equation we divide the interest by the number times compounded, $n$, and we multiply the number of years, $t$, by $n$.

$FV = PV(1+\frac{r}{n})^{tn}$

Next, create a dictionary that records the value of $1000 after a year of collecting interest over different rates of compounding.

In [40]:
# use dictionary to define how many times interest is compounded
compounding_def = {"annual":1,
                  "semi-annual":2,
                  "quarterly":4,
                  "monthly":12,
                  "weekly":52,
                  "daily":365}

PV = 1000
r = 0.1
t = 1
#compound interest at rate of 10%
# 10% == 0.1
# create dictionary to hold the results
compounding_interest = {}

# for var1, var2 in dict.items()
# for key1, obj1 in dict.items()
for period_name, n in compounding_def.items():
    # use round(val, #decimals) to round value to a specified # of decimals
    compounding_interest[period_name] = round(PV * (1 + r / n) ** (t * n), 2)
compounding_interest

{'annual': 1100.0,
 'semi-annual': 1102.5,
 'quarterly': 1103.81,
 'monthly': 1104.71,
 'weekly': 1105.06,
 'daily': 1105.16}

In [41]:
compounding_def.items()

dict_items([('annual', 1), ('semi-annual', 2), ('quarterly', 4), ('monthly', 12), ('weekly', 52), ('daily', 365)])

In [42]:
for key, val in compounding_def.items():
    print(key, val)

annual 1
semi-annual 2
quarterly 4
monthly 12
weekly 52
daily 365

In [43]:
for key in compounding_def:
    print(key, compounding_def[key])

annual 1
semi-annual 2
quarterly 4
monthly 12
weekly 52
daily 365

In [44]:
compounding_def = {"annual":1,
                   "semi-annual":2,
                   "quarterly":4,
                   "monthly":12,
                   "weekly":52,
                   "daily":365
                  }
# create variables
PV = 1000
t = 2
# use generator function to create list of interest rates
# from 1 to 20
rates = [i for i in range(1,21)]
compounding_interest = {}
for rate in rates:
    r = rate / 100
    rate = str(rate)+"%"
    compounding_interest[rate] = {}
    for period_name, n in compounding_def.items():
        compounding_interest[rate][period_name] = round(PV * (1 + r / n) ** (t * n), 2)
compounding_interest

{'1%': {'annual': 1020.1,
  'semi-annual': 1020.15,
  'quarterly': 1020.18,
  'monthly': 1020.19,
  'weekly': 1020.2,
  'daily': 1020.2},
 '2%': {'annual': 1040.4,
  'semi-annual': 1040.6,
  'quarterly': 1040.71,
  'monthly': 1040.78,
  'weekly': 1040.8,
  'daily': 1040.81},
 '3%': {'annual': 1060.9,
  'semi-annual': 1061.36,
  'quarterly': 1061.6,
  'monthly': 1061.76,
  'weekly': 1061.82,
  'daily': 1061.83},
 '4%': {'annual': 1081.6,
  'semi-annual': 1082.43,
  'quarterly': 1082.86,
  'monthly': 1083.14,
  'weekly': 1083.25,
  'daily': 1083.28},
 '5%': {'annual': 1102.5,
  'semi-annual': 1103.81,
  'quarterly': 1104.49,
  'monthly': 1104.94,
  'weekly': 1105.12,
  'daily': 1105.16},
 '6%': {'annual': 1123.6,
  'semi-annual': 1125.51,
  'quarterly': 1126.49,
  'monthly': 1127.16,
  'weekly': 1127.42,
  'daily': 1127.49},
 '7%': {'annual': 1144.9,
  'semi-annual': 1147.52,
  'quarterly': 1148.88,
  'monthly': 1149.81,
  'weekly': 1150.17,
  'daily': 1150.26},
 '8%': {'annual': 1166.4,
  'semi-annual': 1169.86,
  'quarterly': 1171.66,
  'monthly': 1172.89,
  'weekly': 1173.37,
  'daily': 1173.49},
 '9%': {'annual': 1188.1,
  'semi-annual': 1192.52,
  'quarterly': 1194.83,
  'monthly': 1196.41,
  'weekly': 1197.03,
  'daily': 1197.19},
 '10%': {'annual': 1210.0,
  'semi-annual': 1215.51,
  'quarterly': 1218.4,
  'monthly': 1220.39,
  'weekly': 1221.17,
  'daily': 1221.37},
 '11%': {'annual': 1232.1,
  'semi-annual': 1238.82,
  'quarterly': 1242.38,
  'monthly': 1244.83,
  'weekly': 1245.79,
  'daily': 1246.04},
 '12%': {'annual': 1254.4,
  'semi-annual': 1262.48,
  'quarterly': 1266.77,
  'monthly': 1269.73,
  'weekly': 1270.9,
  'daily': 1271.2},
 '13%': {'annual': 1276.9,
  'semi-annual': 1286.47,
  'quarterly': 1291.58,
  'monthly': 1295.12,
  'weekly': 1296.51,
  'daily': 1296.87},
 '14%': {'annual': 1299.6,
  'semi-annual': 1310.8,
  'quarterly': 1316.81,
  'monthly': 1320.99,
  'weekly': 1322.63,
  'daily': 1323.06},
 '15%': {'annual': 1322.5,
  'semi-annual': 1335.47,
  'quarterly': 1342.47,
  'monthly': 1347.35,
  'weekly': 1349.28,
  'daily': 1349.78},
 '16%': {'annual': 1345.6,
  'semi-annual': 1360.49,
  'quarterly': 1368.57,
  'monthly': 1374.22,
  'weekly': 1376.45,
  'daily': 1377.03},
 '17%': {'annual': 1368.9,
  'semi-annual': 1385.86,
  'quarterly': 1395.11,
  'monthly': 1401.6,
  'weekly': 1404.17,
  'daily': 1404.84},
 '18%': {'annual': 1392.4,
  'semi-annual': 1411.58,
  'quarterly': 1422.1,
  'monthly': 1429.5,
  'weekly': 1432.44,
  'daily': 1433.2},
 '19%': {'annual': 1416.1,
  'semi-annual': 1437.66,
  'quarterly': 1449.55,
  'monthly': 1457.94,
  'weekly': 1461.27,
  'daily': 1462.14},
 '20%': {'annual': 1440.0,
  'semi-annual': 1464.1,
  'quarterly': 1477.46,
  'monthly': 1486.91,
  'weekly': 1490.68,
  'daily': 1491.66}}

In [45]:
compounding_interest_df = pd.DataFrame(compounding_interest)
compounding_interest_df

,1%,2%,3%,4%,5%,6%,7%,8%,9%,10%,11%,12%,13%,14%,15%,16%,17%,18%,19%,20%
annual,1020.10,1040.40,1060.90,1081.60,1102.50,1123.60,1144.90,1166.40,1188.10,1210.00,1232.10,1254.40,1276.90,1299.60,1322.50,1345.60,1368.90,1392.40,1416.10,1440.00
daily,1020.20,1040.81,1061.83,1083.28,1105.16,1127.49,1150.26,1173.49,1197.19,1221.37,1246.04,1271.20,1296.87,1323.06,1349.78,1377.03,1404.84,1433.20,1462.14,1491.66
monthly,1020.19,1040.78,1061.76,1083.14,1104.94,1127.16,1149.81,1172.89,1196.41,1220.39,1244.83,1269.73,1295.12,1320.99,1347.35,1374.22,1401.60,1429.50,1457.94,1486.91
quarterly,1020.18,1040.71,1061.60,1082.86,1104.49,1126.49,1148.88,1171.66,1194.83,1218.40,1242.38,1266.77,1291.58,1316.81,1342.47,1368.57,1395.11,1422.10,1449.55,1477.46
semi-annual,1020.15,1040.60,1061.36,1082.43,1103.81,1125.51,1147.52,1169.86,1192.52,1215.51,1238.82,1262.48,1286.47,1310.80,1335.47,1360.49,1385.86,1411.58,1437.66,1464.10
weekly,1020.20,1040.80,1061.82,1083.25,1105.12,1127.42,1150.17,1173.37,1197.03,1221.17,1245.79,1270.90,1296.51,1322.63,1349.28,1376.45,1404.17,1432.44,1461.27,1490.68

In [46]:
compounding_interest_df.T

     annual    daily  monthly  quarterly  semi-annual   weekly
1%   1020.1  1020.20  1020.19    1020.18      1020.15  1020.20
2%   1040.4  1040.81  1040.78    1040.71      1040.60  1040.80
3%   1060.9  1061.83  1061.76    1061.60      1061.36  1061.82
4%   1081.6  1083.28  1083.14    1082.86      1082.43  1083.25
5%   1102.5  1105.16  1104.94    1104.49      1103.81  1105.12
6%   1123.6  1127.49  1127.16    1126.49      1125.51  1127.42
7%   1144.9  1150.26  1149.81    1148.88      1147.52  1150.17
8%   1166.4  1173.49  1172.89    1171.66      1169.86  1173.37
9%   1188.1  1197.19  1196.41    1194.83      1192.52  1197.03
10%  1210.0  1221.37  1220.39    1218.40      1215.51  1221.17
11%  1232.1  1246.04  1244.83    1242.38      1238.82  1245.79
12%  1254.4  1271.20  1269.73    1266.77      1262.48  1270.90
13%  1276.9  1296.87  1295.12    1291.58      1286.47  1296.51
14%  1299.6  1323.06  1320.99    1316.81      1310.80  1322.63
15%  1322.5  1349.78  1347.35    1342.47      1335.47  1349.28
16%  1345.6  1377.03  1374.22    1368.57      1360.49  1376.45
17%  1368.9  1404.84  1401.60    1395.11      1385.86  1404.17
18%  1392.4  1433.20  1429.50    1422.10      1411.58  1432.44
19%  1416.1  1462.14  1457.94    1449.55      1437.66  1461.27
20%  1440.0  1491.66  1486.91    1477.46      1464.10  1490.68

## Using Computational Methods to Brute Force Solve for a Value

Today we will be using computational methods, solving by brute force. To accomplish this, we need to understand if statements.
### If Statements
If statements check if a statement is true. If the statement is true, then the program will execute a block of code indented after the if statements.

In [47]:
x = True
if x:
    print(x)
else:
    print("x is not True, x is equal to",x)

True

In [48]:
x = 5
if x < 4:
    print(True)
else:
    print("x is not less than 4, x is", x)

x is not less than 4, x is 5

%: x % y equals remainder of x / y.

In [49]:
for x in range(4):
    print("x ==", x)
    print("x % 2 ==", x % 2)
    if x % 2 == 0:
        print("x is an even number")
    else:
        print("x is not an even number")

x == 0
x % 2 == 0
x is an even number
x == 1
x % 2 == 1
x is not an even number
x == 2
x % 2 == 0
x is an even number
x == 3
x % 2 == 1
x is not an even number

In [50]:
for x in range(10):
    print("x is",x)
    print("x % 3 is", x % 3)
    if x % 3 == 0:
        print("x is divisible by 3, leaving no remainder")
    else:
        print("x is not divisible by 3. A remainder is left.")

x is 0
x % 3 is 0
x is divisible by 3, leaving no remainder
x is 1
x % 3 is 1
x is not divisible by 3. A remainder is left.
x is 2
x % 3 is 2
x is not divisible by 3. A remainder is left.
x is 3
x % 3 is 0
x is divisible by 3, leaving no remainder
x is 4
x % 3 is 1
x is not divisible by 3. A remainder is left.
x is 5
x % 3 is 2
x is not divisible by 3. A remainder is left.
x is 6
x % 3 is 0
x is divisible by 3, leaving no remainder
x is 7
x % 3 is 1
x is not divisible by 3. A remainder is left.
x is 8
x % 3 is 2
x is not divisible by 3. A remainder is left.
x is 9
x % 3 is 0
x is divisible by 3, leaving no remainder

In [51]:
# solve for 15 / 3
x = 15 /3
print(x)

5.0

In [52]:
# a * x = 15
a = 3
x = 1
# if a * x doesn't equal 15, keep adding one to x.
# if a * x equals 15, stop
while a * x != 15:
    print("x = ",x, "\tax=", a*x)
    x = x + 1

print("Solution for 3x = 15: x =", x)

x =  1 	ax= 3
x =  2 	ax= 6
x =  3 	ax= 9
x =  4 	ax= 12
Solution for 3x = 15: x = 5

In [53]:
# rewrite while loop as a for loop
a = 3
for x in range(1,1000):
    if a * x == 15:
        # break out of for loop
        break
    
print("Solution for 3x = 15: x =", x)

Solution for 3x = 15: x = 5

Our goal is to teach the computer to search for a solution to this algebra problem.

$ax = 1000$

$a = 3$

Solve for x

1. We will count x upward from 1 until ax > 1000
2. Then we will tell the computer to count in the other direction using smaller increments
     count in negative direction until ax < 1000
3. Then count upward using a small increment . . .

In [58]:
# solve ax = 1000
a = 3
# we don't know x, so we will count x upward
x = 1
ax = a * x

# We know that we want to count x upward until ax crosses 1000,
# then we want to count downward at lower rate
# i.e., at first count upward by 1, then count downward by 0.1, 
#       then upward again by 0.001, etc...
margin = 1.0

# create variables to keep track of ax's value
# relative to the target solution of 1000
below_1000_currently = True
# we also need to know whether ax was above or below
# 1000 last period, to know whether or not the direction
# of the change in x needs to switch
below_1000_last_period = True

# if ax is approximately 1000, break out of while loop
while round(ax, 10) != 1000:
    
    # if ax < 1000, count downwrad
    # if ax > 1000, count downward
    x = x + margin if ax < 1000 else x - margin
    # after changing the value x, update the value of ax
    ax = a * x
    
    # update whether ax is above or below 1000
    below_1000_currently = True if ax < 1000 else False
    
    # if ax crossed from above 1000 to below 1000
    # or if ax crossed from below 1000 to above 1000
    # shrink the margin by which change x
    if below_1000_currently == True and below_1000_last_period == False:
        margin = margin * 0.1
        print("Start counting upward at rate of", margin)
    if below_1000_currently == False and below_1000_last_period == True:
        margin = margin * 0.1
        print("Start counting downward at rate of", margin)
    
    # once we have identified if ax crossed 1000,
    # update last periods position to match current
    below_1000_last_period = below_1000_currently
    print("x:", x,"ax:", ax)
print("You solved ax = 1000, a = 3, for x")
print("x =", round(x, 2), "ax =", round(ax, 2))

x: 2.0 ax: 6.0
x: 3.0 ax: 9.0
x: 4.0 ax: 12.0
x: 5.0 ax: 15.0
x: 6.0 ax: 18.0
x: 7.0 ax: 21.0
x: 8.0 ax: 24.0
x: 9.0 ax: 27.0
x: 10.0 ax: 30.0
x: 11.0 ax: 33.0
x: 12.0 ax: 36.0
x: 13.0 ax: 39.0
x: 14.0 ax: 42.0
x: 15.0 ax: 45.0
x: 16.0 ax: 48.0
x: 17.0 ax: 51.0
x: 18.0 ax: 54.0
x: 19.0 ax: 57.0
x: 20.0 ax: 60.0
x: 21.0 ax: 63.0
x: 22.0 ax: 66.0
x: 23.0 ax: 69.0
x: 24.0 ax: 72.0
x: 25.0 ax: 75.0
x: 26.0 ax: 78.0
x: 27.0 ax: 81.0
x: 28.0 ax: 84.0
x: 29.0 ax: 87.0
x: 30.0 ax: 90.0
x: 31.0 ax: 93.0
x: 32.0 ax: 96.0
x: 33.0 ax: 99.0
x: 34.0 ax: 102.0
x: 35.0 ax: 105.0
x: 36.0 ax: 108.0
x: 37.0 ax: 111.0
x: 38.0 ax: 114.0
x: 39.0 ax: 117.0
x: 40.0 ax: 120.0
x: 41.0 ax: 123.0
x: 42.0 ax: 126.0
x: 43.0 ax: 129.0
x: 44.0 ax: 132.0
x: 45.0 ax: 135.0
x: 46.0 ax: 138.0
x: 47.0 ax: 141.0
x: 48.0 ax: 144.0
x: 49.0 ax: 147.0
x: 50.0 ax: 150.0
x: 51.0 ax: 153.0
x: 52.0 ax: 156.0
x: 53.0 ax: 159.0
x: 54.0 ax: 162.0
x: 55.0 ax: 165.0
x: 56.0 ax: 168.0
x: 57.0 ax: 171.0
x: 58.0 ax: 174.0
x: 59.0 ax: 177.0
x: 60.0 ax: 180.0
x: 61.0 ax: 183.0
x: 62.0 ax: 186.0
x: 63.0 ax: 189.0
x: 64.0 ax: 192.0
x: 65.0 ax: 195.0
x: 66.0 ax: 198.0
x: 67.0 ax: 201.0
x: 68.0 ax: 204.0
x: 69.0 ax: 207.0
x: 70.0 ax: 210.0
x: 71.0 ax: 213.0
x: 72.0 ax: 216.0
x: 73.0 ax: 219.0
x: 74.0 ax: 222.0
x: 75.0 ax: 225.0
x: 76.0 ax: 228.0
x: 77.0 ax: 231.0
x: 78.0 ax: 234.0
x: 79.0 ax: 237.0
x: 80.0 ax: 240.0
x: 81.0 ax: 243.0
x: 82.0 ax: 246.0
x: 83.0 ax: 249.0
x: 84.0 ax: 252.0
x: 85.0 ax: 255.0
x: 86.0 ax: 258.0
x: 87.0 ax: 261.0
x: 88.0 ax: 264.0
x: 89.0 ax: 267.0
x: 90.0 ax: 270.0
x: 91.0 ax: 273.0
x: 92.0 ax: 276.0
x: 93.0 ax: 279.0
x: 94.0 ax: 282.0
x: 95.0 ax: 285.0
x: 96.0 ax: 288.0
x: 97.0 ax: 291.0
x: 98.0 ax: 294.0
x: 99.0 ax: 297.0
x: 100.0 ax: 300.0
x: 101.0 ax: 303.0
x: 102.0 ax: 306.0
x: 103.0 ax: 309.0
x: 104.0 ax: 312.0
x: 105.0 ax: 315.0
x: 106.0 ax: 318.0
x: 107.0 ax: 321.0
x: 108.0 ax: 324.0
x: 109.0 ax: 327.0
x: 110.0 ax: 330.0
x: 111.0 ax: 333.0
x: 112.0 ax: 336.0
x: 113.0 ax: 339.0
x: 114.0 ax: 342.0
x: 115.0 ax: 345.0
x: 116.0 ax: 348.0
x: 117.0 ax: 351.0
x: 118.0 ax: 354.0
x: 119.0 ax: 357.0
x: 120.0 ax: 360.0
x: 121.0 ax: 363.0
x: 122.0 ax: 366.0
x: 123.0 ax: 369.0
x: 124.0 ax: 372.0
x: 125.0 ax: 375.0
x: 126.0 ax: 378.0
x: 127.0 ax: 381.0
x: 128.0 ax: 384.0
x: 129.0 ax: 387.0
x: 130.0 ax: 390.0
x: 131.0 ax: 393.0
x: 132.0 ax: 396.0
x: 133.0 ax: 399.0
x: 134.0 ax: 402.0
x: 135.0 ax: 405.0
x: 136.0 ax: 408.0
x: 137.0 ax: 411.0
x: 138.0 ax: 414.0
x: 139.0 ax: 417.0
x: 140.0 ax: 420.0
x: 141.0 ax: 423.0
x: 142.0 ax: 426.0
x: 143.0 ax: 429.0
x: 144.0 ax: 432.0
x: 145.0 ax: 435.0
x: 146.0 ax: 438.0
x: 147.0 ax: 441.0
x: 148.0 ax: 444.0
x: 149.0 ax: 447.0
x: 150.0 ax: 450.0
x: 151.0 ax: 453.0
x: 152.0 ax: 456.0
x: 153.0 ax: 459.0
x: 154.0 ax: 462.0
x: 155.0 ax: 465.0
x: 156.0 ax: 468.0
x: 157.0 ax: 471.0
x: 158.0 ax: 474.0
x: 159.0 ax: 477.0
x: 160.0 ax: 480.0
x: 161.0 ax: 483.0
x: 162.0 ax: 486.0
x: 163.0 ax: 489.0
x: 164.0 ax: 492.0
x: 165.0 ax: 495.0
x: 166.0 ax: 498.0
x: 167.0 ax: 501.0
x: 168.0 ax: 504.0
x: 169.0 ax: 507.0
x: 170.0 ax: 510.0
x: 171.0 ax: 513.0
x: 172.0 ax: 516.0
x: 173.0 ax: 519.0
x: 174.0 ax: 522.0
x: 175.0 ax: 525.0
x: 176.0 ax: 528.0
x: 177.0 ax: 531.0
x: 178.0 ax: 534.0
x: 179.0 ax: 537.0
x: 180.0 ax: 540.0
x: 181.0 ax: 543.0
x: 182.0 ax: 546.0
x: 183.0 ax: 549.0
x: 184.0 ax: 552.0
x: 185.0 ax: 555.0
x: 186.0 ax: 558.0
x: 187.0 ax: 561.0
x: 188.0 ax: 564.0
x: 189.0 ax: 567.0
x: 190.0 ax: 570.0
x: 191.0 ax: 573.0
x: 192.0 ax: 576.0
x: 193.0 ax: 579.0
x: 194.0 ax: 582.0
x: 195.0 ax: 585.0
x: 196.0 ax: 588.0
x: 197.0 ax: 591.0
x: 198.0 ax: 594.0
x: 199.0 ax: 597.0
x: 200.0 ax: 600.0
x: 201.0 ax: 603.0
x: 202.0 ax: 606.0
x: 203.0 ax: 609.0
x: 204.0 ax: 612.0
x: 205.0 ax: 615.0
x: 206.0 ax: 618.0
x: 207.0 ax: 621.0
x: 208.0 ax: 624.0
x: 209.0 ax: 627.0
x: 210.0 ax: 630.0
x: 211.0 ax: 633.0
x: 212.0 ax: 636.0
x: 213.0 ax: 639.0
x: 214.0 ax: 642.0
x: 215.0 ax: 645.0
x: 216.0 ax: 648.0
x: 217.0 ax: 651.0
x: 218.0 ax: 654.0
x: 219.0 ax: 657.0
x: 220.0 ax: 660.0
x: 221.0 ax: 663.0
x: 222.0 ax: 666.0
x: 223.0 ax: 669.0
x: 224.0 ax: 672.0
x: 225.0 ax: 675.0
x: 226.0 ax: 678.0
x: 227.0 ax: 681.0
x: 228.0 ax: 684.0
x: 229.0 ax: 687.0
x: 230.0 ax: 690.0
x: 231.0 ax: 693.0
x: 232.0 ax: 696.0
x: 233.0 ax: 699.0
x: 234.0 ax: 702.0
x: 235.0 ax: 705.0
x: 236.0 ax: 708.0
x: 237.0 ax: 711.0
x: 238.0 ax: 714.0
x: 239.0 ax: 717.0
x: 240.0 ax: 720.0
x: 241.0 ax: 723.0
x: 242.0 ax: 726.0
x: 243.0 ax: 729.0
x: 244.0 ax: 732.0
x: 245.0 ax: 735.0
x: 246.0 ax: 738.0
x: 247.0 ax: 741.0
x: 248.0 ax: 744.0
x: 249.0 ax: 747.0
x: 250.0 ax: 750.0
x: 251.0 ax: 753.0
x: 252.0 ax: 756.0
x: 253.0 ax: 759.0
x: 254.0 ax: 762.0
x: 255.0 ax: 765.0
x: 256.0 ax: 768.0
x: 257.0 ax: 771.0
x: 258.0 ax: 774.0
x: 259.0 ax: 777.0
x: 260.0 ax: 780.0
x: 261.0 ax: 783.0
x: 262.0 ax: 786.0
x: 263.0 ax: 789.0
x: 264.0 ax: 792.0
x: 265.0 ax: 795.0
x: 266.0 ax: 798.0
x: 267.0 ax: 801.0
x: 268.0 ax: 804.0
x: 269.0 ax: 807.0
x: 270.0 ax: 810.0
x: 271.0 ax: 813.0
x: 272.0 ax: 816.0
x: 273.0 ax: 819.0
x: 274.0 ax: 822.0
x: 275.0 ax: 825.0
x: 276.0 ax: 828.0
x: 277.0 ax: 831.0
x: 278.0 ax: 834.0
x: 279.0 ax: 837.0
x: 280.0 ax: 840.0
x: 281.0 ax: 843.0
x: 282.0 ax: 846.0
x: 283.0 ax: 849.0
x: 284.0 ax: 852.0
x: 285.0 ax: 855.0
x: 286.0 ax: 858.0
x: 287.0 ax: 861.0
x: 288.0 ax: 864.0
x: 289.0 ax: 867.0
x: 290.0 ax: 870.0
x: 291.0 ax: 873.0
x: 292.0 ax: 876.0
x: 293.0 ax: 879.0
x: 294.0 ax: 882.0
x: 295.0 ax: 885.0
x: 296.0 ax: 888.0
x: 297.0 ax: 891.0
x: 298.0 ax: 894.0
x: 299.0 ax: 897.0
x: 300.0 ax: 900.0
x: 301.0 ax: 903.0
x: 302.0 ax: 906.0
x: 303.0 ax: 909.0
x: 304.0 ax: 912.0
x: 305.0 ax: 915.0
x: 306.0 ax: 918.0
x: 307.0 ax: 921.0
x: 308.0 ax: 924.0
x: 309.0 ax: 927.0
x: 310.0 ax: 930.0
x: 311.0 ax: 933.0
x: 312.0 ax: 936.0
x: 313.0 ax: 939.0
x: 314.0 ax: 942.0
x: 315.0 ax: 945.0
x: 316.0 ax: 948.0
x: 317.0 ax: 951.0
x: 318.0 ax: 954.0
x: 319.0 ax: 957.0
x: 320.0 ax: 960.0
x: 321.0 ax: 963.0
x: 322.0 ax: 966.0
x: 323.0 ax: 969.0
x: 324.0 ax: 972.0
x: 325.0 ax: 975.0
x: 326.0 ax: 978.0
x: 327.0 ax: 981.0
x: 328.0 ax: 984.0
x: 329.0 ax: 987.0
x: 330.0 ax: 990.0
x: 331.0 ax: 993.0
x: 332.0 ax: 996.0
x: 333.0 ax: 999.0
Start counting downward at rate of 0.1
x: 334.0 ax: 1002.0
x: 333.9 ax: 1001.6999999999999
x: 333.79999999999995 ax: 1001.3999999999999
x: 333.69999999999993 ax: 1001.0999999999998
x: 333.5999999999999 ax: 1000.7999999999997
x: 333.4999999999999 ax: 1000.4999999999997
x: 333.39999999999986 ax: 1000.1999999999996
Start counting upward at rate of 0.010000000000000002
x: 333.29999999999984 ax: 999.8999999999995
x: 333.30999999999983 ax: 999.9299999999995
x: 333.3199999999998 ax: 999.9599999999995
x: 333.3299999999998 ax: 999.9899999999994
Start counting downward at rate of 0.0010000000000000002
x: 333.3399999999998 ax: 1000.0199999999994
x: 333.3389999999998 ax: 1000.0169999999995
x: 333.33799999999985 ax: 1000.0139999999996
x: 333.3369999999999 ax: 1000.0109999999996
x: 333.3359999999999 ax: 1000.0079999999997
x: 333.3349999999999 ax: 1000.0049999999998
x: 333.33399999999995 ax: 1000.0019999999998
Start counting upward at rate of 0.00010000000000000003
x: 333.33299999999997 ax: 999.9989999999999
x: 333.33309999999994 ax: 999.9992999999998
x: 333.3331999999999 ax: 999.9995999999998
x: 333.3332999999999 ax: 999.9998999999997
Start counting downward at rate of 1.0000000000000004e-05
x: 333.33339999999987 ax: 1000.0001999999996
x: 333.3333899999999 ax: 1000.0001699999997
x: 333.3333799999999 ax: 1000.0001399999998
x: 333.33336999999995 ax: 1000.0001099999998
x: 333.33335999999997 ax: 1000.0000799999999
x: 333.33335 ax: 1000.00005
x: 333.33334 ax: 1000.0000200000001
Start counting upward at rate of 1.0000000000000004e-06
x: 333.33333000000005 ax: 999.9999900000001
x: 333.33333100000004 ax: 999.9999930000001
x: 333.33333200000004 ax: 999.9999960000001
x: 333.33333300000004 ax: 999.9999990000001
Start counting downward at rate of 1.0000000000000005e-07
x: 333.33333400000004 ax: 1000.0000020000001
x: 333.3333339 ax: 1000.0000017
x: 333.3333338 ax: 1000.0000014
x: 333.33333369999997 ax: 1000.0000011
x: 333.33333359999995 ax: 1000.0000007999998
x: 333.3333334999999 ax: 1000.0000004999997
x: 333.3333333999999 ax: 1000.0000001999997
Start counting upward at rate of 1.0000000000000005e-08
x: 333.3333332999999 ax: 999.9999998999997
x: 333.3333333099999 ax: 999.9999999299996
x: 333.3333333199999 ax: 999.9999999599997
x: 333.3333333299999 ax: 999.9999999899997
Start counting downward at rate of 1.0000000000000005e-09
x: 333.3333333399999 ax: 1000.0000000199998
x: 333.3333333389999 ax: 1000.0000000169998
x: 333.33333333799993 ax: 1000.0000000139999
x: 333.33333333699994 ax: 1000.0000000109999
x: 333.33333333599995 ax: 1000.0000000079999
x: 333.33333333499996 ax: 1000.000000005
x: 333.333333334 ax: 1000.000000002
Start counting upward at rate of 1.0000000000000006e-10
x: 333.333333333 ax: 999.999999999
x: 333.3333333331 ax: 999.9999999992999
x: 333.33333333319996 ax: 999.9999999995998
x: 333.33333333329995 ax: 999.9999999998998
Start counting downward at rate of 1.0000000000000006e-11
x: 333.33333333339993 ax: 1000.0000000001999
x: 333.33333333338993 ax: 1000.0000000001698
x: 333.3333333333799 ax: 1000.0000000001398
x: 333.3333333333699 ax: 1000.0000000001098
x: 333.3333333333599 ax: 1000.0000000000798
x: 333.3333333333499 ax: 1000.0000000000498
You solved ax = 1000, a = 3, for x
x = 333.33 ax = 1000.0

In [ ]:
a = 3
x = 1
ax = a * x
# solve for ax = 1000
margin = 1.0


# create variable to track if ax is ablove or below 1000
below_1000 = True

# if below_1000 switches from True to False or from False to True,
# indicate that the program needs to change direct 
# (from negative to positive or from positive to negative)
decrease_margin = False

while round(ax,10) != 1000:
    if decrease_margin:
        margin = margin * .1
        decrease_margin = False
    # increase x or decrease x depending on whether
    # x is below or above 1000
    x = x + margin if ax < 1000 else x - margin
    ax = a * x
    print("x =", x, "\tax", ax)
    # if ax crosses over 1000, identify
    # 1) that ax is now greater than 1000
    # 2) x should change by a smaller margin and in a diff
    # direction
    if below_1000 == True and ax > 1000:
        #change by smaller margin
        decrease_margin = True
        # move in opposite direction
        below_1000 = False
    elif below_1000 == False and ax < 1000:
        # change by smaller margin
        decrease_margin == True
        # move in opposite direction
        below_1000 = True
    
print("Solution: (" + str(a)+")" + "("+str(x)+") =", ax)

### Use brute force to solve for the interest rate you would need to grow 1000 dollars to 1500 dollars after 2 years of annual compounding

In [64]:
# set up equation
PV = 1000
FV = 1000
# checking interest rates from 0.01 and above 
# 0.01 is 1%
r = 0.01
# margin should increase or decrease by no more than 1%
margin = .01
# PV = FV / (1 + r/n)**(t*n)
# FV = PV (1 + r/n) ** (t/n)

# identify whether FV above or below 1500
below_1500 = True

# set decrease_margin False
# decrease_margin will only be True if either: 
#            below_1500 == True and FV > 1500
#            or
#            below_1500 == False and FV < 1500
# Once decrease margin is true, margin shrinks
# and decrease_margin is again set to False
decrease_margin = False

while round(FV, 2) != 1500:
    if decrease_margin:
        margin = margin * 0.1
        decrease_margin = False
    # r increases by margin if below 1500
    # r decreases by margin if above 1500
    r = r + margin if FV < 1500 else r - margin
    # recalculate future value given change in r
    FV = PV * ( 1 + r) ** 2

    print("r:", r, "\tFV:", FV)
    if below_1500 == True and FV > 1500:
        decrease_margin = True
        below_1500 = False
    if below_1500 == False and FV < 1500:
        decrease_margin = True
        below_1500 = True
print("r:", r, "FV:", round(FV, 2))

r: 0.02 	FV: 1040.4
r: 0.03 	FV: 1060.8999999999999
r: 0.04 	FV: 1081.6000000000001
r: 0.05 	FV: 1102.5
r: 0.060000000000000005 	FV: 1123.6000000000001
r: 0.07 	FV: 1144.9
r: 0.08 	FV: 1166.4
r: 0.09 	FV: 1188.1000000000001
r: 0.09999999999999999 	FV: 1210.0000000000002
r: 0.10999999999999999 	FV: 1232.0999999999997
r: 0.11999999999999998 	FV: 1254.3999999999996
r: 0.12999999999999998 	FV: 1276.8999999999996
r: 0.13999999999999999 	FV: 1299.6
r: 0.15 	FV: 1322.4999999999998
r: 0.16 	FV: 1345.6
r: 0.17 	FV: 1368.8999999999999
r: 0.18000000000000002 	FV: 1392.3999999999999
r: 0.19000000000000003 	FV: 1416.1
r: 0.20000000000000004 	FV: 1440.0
r: 0.21000000000000005 	FV: 1464.1
r: 0.22000000000000006 	FV: 1488.3999999999999
r: 0.23000000000000007 	FV: 1512.8999999999999
r: 0.22900000000000006 	FV: 1510.4410000000003
r: 0.22800000000000006 	FV: 1507.984
r: 0.22700000000000006 	FV: 1505.5290000000002
r: 0.22600000000000006 	FV: 1503.0759999999998
r: 0.22500000000000006 	FV: 1500.6250000000002
r: 0.22400000000000006 	FV: 1498.176
r: 0.22410000000000005 	FV: 1498.4208099999998
r: 0.22420000000000004 	FV: 1498.6656399999997
r: 0.22430000000000003 	FV: 1498.91049
r: 0.22440000000000002 	FV: 1499.1553599999997
r: 0.2245 	FV: 1499.40025
r: 0.2246 	FV: 1499.6451599999998
r: 0.22469999999999998 	FV: 1499.8900899999999
r: 0.22479999999999997 	FV: 1500.1350399999997
r: 0.22478999999999996 	FV: 1500.1105441000002
r: 0.22477999999999995 	FV: 1500.0860484
r: 0.22476999999999994 	FV: 1500.0615529
r: 0.22475999999999993 	FV: 1500.0370575999998
r: 0.22474999999999992 	FV: 1500.0125625
r: 0.2247399999999999 	FV: 1499.9880676
r: 0.2247409999999999 	FV: 1499.9905170809998
r: 0.22474199999999991 	FV: 1499.992966564
r: 0.22474299999999992 	FV: 1499.995416049
r: 0.22474299999999992 FV: 1500.0

In [3]:
# set up equation
PV = 1000
FV = 1000
# checking interest rates from 0.01 and above 
# 0.01 is 1%
r = 0.01
# margin should increase or decrease by no more than 1%
margin = .01
# PV = FV / (1 + r/n)**(t*n)
# FV = PV (1 + r/n) ** (t/n)

# identify whether FV above or below 1500
below_1500_current = True
below_1500_last_period = True

# decrease margin if either: 
#            below_1500_last_period == True and below_1500_current == False
#            or
#            below_1500_last_period == False and below_1500_current == True

# while loops and  for loops execute the indented block of code
# that follows them
while round(FV, 2) != 1500:
    # r increases by margin if below 1500
    # r decreases by margin if above 1500
    r = r + margin if FV < 1500 else r - margin
    # recalculate future value given change in r
    FV = PV * ( 1 + r) ** 2
    below_1500_current = True if FV < 1500 else False
    
    if below_1500_last_period == True and below_1500_current == False:
        margin = margin * 0.1
    if below_1500_last_period == False and below_1500_current == True:
        margin = margin * 0.1
    below_1500_last_period = below_1500_current
print("r:", round(r,2), "FV:", round(FV, 2))

r: 0.22 FV: 1500.0

In [72]:
print(3 < 5)
print(2 == 4)

if 3 < 5 and 2 == 4:
    print("both statements are true")
else:
    print("at least one statement is false")

True
False
at least one statement is false

In [74]:
PV = 1000
FV_dict = {}
for final_FV in range(1100, 2001, 100):
    r = .01
    margin = .01
    below_final_FV = True
    decrease_margin = False
    while round(FV, 2) != final_FV:
        if decrease_margin:
            margin = margin * 0.1
            decrease_margin = False
        r = r + margin if FV < final_FV else r - margin
        FV = PV * (1 + r) ** 2
        if below_final_FV == True and FV > final_FV:
            decrease_margin = True
            below_final_FV = False
        if below_final_FV == False and FV < final_FV:
            decrease_margin = True
            below_final_FV = True
    FV_dict[final_FV] = r
FV_dict

{1100: 0.04881,
 1200: 0.09544300000000003,
 1300: 0.14017399999999994,
 1400: 0.1832139999999999,
 1500: 0.22474299999999992,
 1600: 0.26490999999999987,
 1700: 0.30383999999999994,
 1800: 0.34164,
 1900: 0.3784039999999999,
 2000: 0.414212}