In [1]:
import numpy as np
import pandas as pd
storage_options = {'User-Agent': 'Mozilla/5.0'}
url = "https://www.fraserinstitute.org/sites/default/files/economic-freedom-of-north-america-2022-for-website-allgovs.xlsx"
GDP = pd.read_csv("StateGDP.csv")
efw = pd.read_excel(url, storage_options=storage_options, sheet_name=None)
codes = pd.read_csv("taxitemcodesanddescriptions.csv", header = [0], index_col = [0])

In [2]:
state_dict = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ',
    'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 
    'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 
    'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL',
    'Indiana': 'IN', 'Iowa': 'IA','Kansas': 'KS', 'Kentucky': 'KY',
    'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA',
    'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO',
    'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH',
    'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC',
    'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI',
    'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX',
    'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA',
    'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

fips_dict = {
 '01': 'AL', '02': 'AK', '04': 'AZ', '05': 'AR',
 '06': 'CA', '08': 'CO', '09': 'CT', '10': 'DE',
 '12': 'FL', '13': 'GA', '15': 'HI', '16': 'ID',
 '17': 'IL', '18': 'IN', '19': 'IA', '20': 'KS',
 '21': 'KY', '22': 'LA', '23': 'ME', '24': 'MD',
 '25': 'MA', '26': 'MI', '27': 'MN', '28': 'MS',
 '29': 'MO', '30': 'MT', '31': 'NE', '32': 'NV',
 '33': 'NH', '34': 'NJ', '35': 'NM', '36': 'NY',
 '37': 'NC', '38': 'ND', '39': 'OH', '40': 'OK',
 '41': 'OR', '42': 'PA', '44': 'RI', '45': 'SC',
 '46': 'SD', '47': 'TN', '48': 'TX', '49': 'UT',
 '50': 'VT', '51': 'VA', '53': 'WA', '54': 'WV',
 '55': 'WI', '56': 'WY'}
# '60': 'AS', '66': 'GU',
#  '69': 'MP', '72': 'PR', '78': 'VI'}
state_df = pd.DataFrame(state_dict, index = ["Abbr"]).T
fips_df = pd.DataFrame(fips_dict, index = ["State"]).T
state_names, state_abbrev = state_df.index, list(state_df["Abbr"].values)
state_df.T# state_abbrev

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Abbr,AL,AK,AZ,AR,CA,CO,CT,DE,FL,GA,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY

In [3]:
years = [1985,
 1990,
 1995,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]
efw = efw["Overall-scores(allgovs)"].dropna(subset = "Unnamed: 104").rename(columns = {"Overall allg Scores":"State"})
panel = efw[efw["Unnamed: 104"].str.contains(", US")]
panel = panel[["State"] + years]
panel["State"] = panel["State"].apply(lambda x:state_dict[x])
panel = panel.melt(id_vars=["State"], 
        var_name="Year", 
        value_name="EFW").set_index(["State", "Year"]).round(2)
panel

             EFW
State Year
AL    1985  8.22
AK    1985  8.04
AZ    1985  8.25
AR    1985  8.20
CA    1985  8.07
...          ...
VA    2020  7.94
WA    2020  7.90
WV    2020  7.87
WI    2020  7.92
WY    2020  7.97

[1200 rows x 1 columns]

In [4]:
GDP_years = list(GDP.keys())[-24:]
GDP = GDP[GDP["GeoName"].isin(state_names)]
GDP["State"] = GDP["GeoName"].apply(lambda x: state_dict[x])
GDP = GDP[["State","LineCode"] + GDP_years]
GDP = GDP.melt(id_vars=["State", "LineCode"], 
        var_name="Year", 
        value_name="GDP")

GDP["Year"] = GDP["Year"].astype(int)
GDP.set_index(["State", "Year"], inplace = True)
panel.loc[panel.index.isin(GDP.index),"GDP"] = GDP["GDP"][GDP["LineCode"]==1].astype(float)
panel

             EFW       GDP
State Year
AL    1985  8.22       NaN
AK    1985  8.04       NaN
AZ    1985  8.25       NaN
AR    1985  8.20       NaN
CA    1985  8.07       NaN
...          ...       ...
VA    2020  7.94  551760.3
WA    2020  7.90  618704.9
WV    2020  7.87   73709.2
WI    2020  7.92  338678.4
WY    2020  7.97   36241.5

[1200 rows x 2 columns]

In [5]:
# Maybe labels from 97 keys were entered by an intern who was filling in for the usual data person who was on leave,
fix_97_keys = pd.DataFrame({'VI':"VA", "AR":"AZ", 
                            'AR    .1':"AR", "LS":"LA",
                            "GE":"GA"}, 
                           index = ["Correction"]).T
fix_97_keys

         Correction
VI               VA
AR               AZ
AR    .1         AR
LS               LA
GE               GA

In [6]:
# urls = ["https://www2.census.gov/govs/statetax/" +str(i)[-2:] + "staxcd.txt" for i in range(92,122)]
tax_dfs = {}
for year in range(1992,2022):
    key = str(year)[-2:] 
    try:    
        url = "https://www2.census.gov/govs/statetax/" +key + "staxcd.txt"
        tax_dfs[year] = pd.read_csv(url, index_col = [0])
        tax_dfs[year].rename(columns = {col:col.strip().replace("-State","") for col in tax_dfs[year].columns}, inplace = True)
        tax_dfs[year].rename(columns = {name:state_df.loc[name].values[0] for name in state_names}, inplace = True)
        if key == "97":
            tax_dfs[year].rename(columns = {
                wrong_key:fix_97_keys.loc[wrong_key].values[0] for wrong_key in fix_97_keys.index}, 
                                inplace = True)
        # adjust units from 1000s to millions
        tax_dfs[year] = tax_dfs[year][state_abbrev].div(1000)
#         tax_dfs[key].rename(columns = {col:col.strip() for col in tax_dfs[key].columns}, inplace = True)
    except:
        print("failed to download " + url)
tax_dfs.keys()

failed to download https://www2.census.gov/govs/statetax/16staxcd.txt
failed to download https://www2.census.gov/govs/statetax/17staxcd.txt
failed to download https://www2.census.gov/govs/statetax/18staxcd.txt
failed to download https://www2.census.gov/govs/statetax/19staxcd.txt
failed to download https://www2.census.gov/govs/statetax/20staxcd.txt
failed to download https://www2.census.gov/govs/statetax/21staxcd.txt

dict_keys([1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015])

In [7]:
code_dfs = {}
for code in codes.index:
    code_dfs[code] = {}
    for year in tax_dfs.keys():
        code_dfs[code][year] = tax_dfs[year].loc[code] 
    code_dfs[code] = pd.DataFrame(code_dfs[code])

In [8]:
code_dfs["TotalTax"] = {}

for key, df in tax_dfs.items():
    code_dfs["TotalTax"][key] = df.sum()
code_dfs["TotalTax"]

{1992: AL     1602.937
 AK     4826.755
 AZ     2748.292
 AR    47972.949
 CA     3531.698
 CO     6059.339
 CT     1341.005
 DE    14504.207
 FL     7266.981
 GA     2709.518
 HI     1396.013
 ID    13463.435
 IL     6963.139
 IN     3616.444
 IA     2801.692
 KS     5080.971
 KY     4250.245
 LA     1670.488
 ME     6502.494
 MD     9903.246
 MA    11279.170
 MI     7449.787
 MN     2494.392
 MS     5131.360
 MO     1034.876
 MT     1889.877
 NE     1823.376
 NV      985.415
 NH    12802.662
 NJ     2237.656
 NM    30113.133
 NY     9009.742
 NC      693.007
 ND    12114.788
 OH     3765.272
 OK     3322.287
 OR    16269.988
 PA     1307.111
 RI     3935.500
 SC      565.032
 SD     4858.098
 TN    17024.494
 TX     1987.793
 UT      765.972
 VT     7025.345
 VA     8476.932
 WA     2351.858
 WV     7389.207
 WI      645.929
 WY     2439.667
 dtype: float64,
 1993: AL     4712.127
 AK     2240.927
 AZ     5352.567
 AR     2982.265
 CA    50115.756
 CO     3863.303
 CT     6767.182
 DE     1354.786
 FL    16685.909
 GA     8282.196
 HI     2775.181
 ID     1572.468
 IL    14764.293
 IN     7024.920
 IA     3955.467
 KS     3353.764
 KY     5396.931
 LA     4438.075
 ME     1787.636
 MD     7293.936
 MA    10531.019
 MI    13060.940
 MN     8233.393
 MS     3022.774
 MO     5583.483
 MT     1144.243
 NE     2013.656
 NV     2211.434
 NH     1018.619
 NJ    13233.833
 NM     2802.670
 NY    31746.513
 NC     9882.455
 ND      847.932
 OH    13007.854
 OK     4153.416
 OR     3716.782
 PA    16922.038
 RI     1454.237
 SC     4350.798
 SD      602.058
 TN     5765.745
 TX    18584.352
 UT     2241.389
 VT      804.121
 VA     7711.536
 WA     9018.444
 WV     2504.614
 WI     8055.917
 WY      670.829
 dtype: float64,
 1994: AL     4842.947
 AK     1254.666
 AZ     5732.250
 AR     3217.205
 CA    50409.829
 CO     4239.326
 CT     6933.625
 DE     1460.009
 FL    18105.472
 GA     8923.952
 HI     3021.946
 ID     1629.265
 IL    15840.209
 IN     7590.745
 IA     4184.843
 KS     3727.665
 KY     5760.794
 LA     4458.260
 ME     1789.099
 MD     7706.499
 MA    11169.694
 MI    14555.874
 MN     8750.507
 MS     3367.011
 MO     6017.666
 MT     1176.340
 NE     2177.005
 NV     2413.759
 NH      863.086
 NJ    13712.569
 NM     2761.378
 NY    33754.042
 NC    10655.460
 ND      896.224
 OH    14417.246
 OK     4321.516
 OR     4101.464
 PA    17409.971
 RI     1458.326
 SC     4566.667
 SD      672.806
 TN     5832.331
 TX    19842.443
 UT     2447.798
 VT      844.288
 VA     8183.452
 WA     9856.795
 WV     2585.412
 WI     8532.637
 WY      749.146
 dtype: float64,
 1995: AL     5157.703
 AK     1937.253
 AZ     6305.759
 AR     3435.519
 CA    54003.234
 CO     4616.710
 CT     7572.523
 DE     1611.793
 FL    18880.911
 GA     9636.343
 HI     2904.020
 ID     1755.140
 IL    16879.045
 IN     8168.105
 IA     4463.355
 KS     3821.083
 KY     6356.421
 LA     4757.322
 ME     1837.979
 MD     8190.417
 MA    11761.916
 MI    17943.604
 MN     9434.152
 MS     3644.095
 MO     6865.804
 MT     1230.282
 NE     2255.159
 NV     2734.577
 NH      946.015
 NJ    13834.165
 NM     2874.323
 NY    34780.141
 NC    11571.312
 ND      971.248
 OH    15429.170
 OK     4477.092
 OR     4352.348
 PA    18541.714
 RI     1513.209
 SC     4831.670
 SD      708.924
 TN     6013.616
 TX    20669.898
 UT     2710.218
 VT      813.626
 VA     8937.974
 WA    10321.461
 WV     2764.883
 WI     9140.755
 WY      676.906
 dtype: float64,
 1996: AL     5343.624
 AK     1534.179
 AZ     6500.245
 AR     3749.611
 CA    58538.975
 CO     4914.356
 CT     7937.503
 DE     1703.431
 FL    20069.332
 GA    10456.281
 HI     3109.774
 ID     1880.190
 IL    17818.552
 IN     8567.258
 IA     4502.847
 KS     4037.363
 KY     6565.904
 LA     4993.058
 ME     1922.766
 MD     8304.550
 MA    12631.649
 MI    18937.034
 MN    10357.800
 MS     3908.239
 MO     7331.866
 MT     1228.095
 NE     2406.277
 NV     2934.270
 NH      867.637
 NJ    14630.042
 NM     3093.037
 NY    34670.191
 NC    12041.484
 ND      997.918
 OH    15911.704
 OK     4681.892
 OR     4422.111
 PA    18591.456
 RI     1578.523
 SC     5186.521
 SD      745.257
 TN     6295.688
 TX    22028.084
 UT     2942.707
 VT      854.035
 VA     9065.759
 WA    10721.115
 WV     2798.683
 WI     9704.717
 WY      720.927
 dtype: float64,
 1997: AL     5575.675
 AK     1635.479
 AZ     6699.933
 AR     3827.807
 CA    62511.054
 CO     5393.959
 CT     8885.878
 DE     1763.332
 FL    21355.142
 GA    11077.809
 HI     3119.528
 ID     1985.876
 IL    18853.903
 IN     9239.561
 IA     4753.791
 KS     4295.525
 KY     6901.098
 LA     5961.857
 ME     2047.165
 MD     8777.147
 MA    13491.793
 MI    20103.772
 MN    11349.999
 MS     4068.159
 MO     7945.329
 MT     1326.726
 NE     2589.442
 NV     3089.481
 NH      946.237
 NJ    14669.447
 NM     3398.513
 NY    35413.757
 NC    12853.148
 ND     1078.262
 OH    16693.095
 OK     5130.188
 OR     5053.062
 PA    19688.493
 RI     1707.247
 SC     5461.438
 SD      785.113
 TN     6740.957
 TX    23472.389
 UT     3187.382
 VT      910.573
 VA     9804.198
 WA    11347.145
 WV     2961.792
 WI    10313.808
 WY      766.533
 dtype: float64,
 1998: AL     5738.480
 AK     1186.849
 AZ     6953.939
 AR     4059.020
 CA    67746.100
 CO     5902.320
 CT     9396.878
 DE     1982.217
 FL    22528.031
 GA    11597.137
 HI     3177.439
 ID     2058.607
 IL    19783.329
 IN     9121.697
 IA     4805.393
 KS     4664.475
 KY     7119.083
 LA     6086.395
 ME     2371.064
 MD     9195.617
 MA    14494.643
 MI    20526.745
 MN    11508.653
 MS     4242.577
 MO     8227.765
 MT     1328.532
 NE     2634.879
 NV     3114.747
 NH     1009.703
 NJ    15613.086
 NM     3576.274
 NY    36172.708
 NC    13876.972
 ND     1079.013
 OH    17654.045
 OK     5304.176
 OR     5002.373
 PA    20641.484
 RI     1822.293
 SC     5686.984
 SD      834.302
 TN     7001.551
 TX    24648.760
 UT     3500.035
 VT      958.247
 VA    10549.757
 WA    11811.859
 WV     3013.801
 WI    11154.983
 WY      856.197
 dtype: float64,
 1999: AL     6032.234
 AK      905.135
 AZ     7542.735
 AR     4608.936
 CA    72387.698
 CO     6568.185
 CT     9623.591
 DE     2030.789
 FL    23798.564
 GA    12461.790
 HI     3166.663
 ID     2171.127
 IL    21211.263
 IN     9736.077
 IA     4868.494
 KS     4589.475
 KY     7356.834
 LA     6491.235
 ME     2540.581
 MD     9501.164
 MA    14731.769
 MI    21856.552
 MN    12481.688
 MS     4573.823
 MO     8563.594
 MT     1345.730
 NE     2662.103
 NV     3430.007
 NH     1070.803
 NJ    16926.417
 NM     3454.440
 NY    38700.774
 NC    14436.294
 ND     1106.499
 OH    18178.726
 OK     5417.232
 OR     5341.403
 PA    21588.754
 RI     1895.196
 SC     6161.205
 SD      870.663
 TN     7197.491
 TX    25675.587
 UT     3653.782
 VT     1388.345
 VA    11562.735
 WA    12337.555
 WV     3302.046
 WI    11627.782
 WY      811.648
 dtype: float64,
 2000: AL     10885.538
 AK      2050.219
 AZ     13231.369
 AR      7543.961
 CA    117679.607
 CO     11376.308
 CT     13576.807
 DE      2915.731
 FL     40799.641
 GA     21697.728
 HI      4546.280
 ID      3671.204
 IL     35208.092
 IN     16184.838
 IA      8111.718
 KS      7536.653
 KY     11736.379
 LA     10981.358
 ME      3936.003
 MD     15650.933
 MA     22501.971
 MI     32694.847
 MN     18258.011
 MS      7556.252
 MO     14166.759
 MT      2312.955
 NE      4692.310
 NV      5715.512
 NH      2931.871
 NJ     26561.954
 NM      5562.224
 NY     60712.298
 NC     23364.699
 ND      1814.573
 OH     31029.505
 OK      9290.676
 OR      9367.074
 PA     34747.960
 RI      3083.228
 SC     10393.403
 SD      1682.089
 TN     13428.873
 TX     48275.962
 UT      6211.866
 VT      2091.982
 VA     19726.550
 WA     18461.504
 WV      5151.610
 WI     17938.867
 WY      1457.432
 dtype: float64,
 2001: AL     11216.619
 AK      2062.328
 AZ     13667.342
 AR      7681.445
 CA    125054.209
 CO     11997.908
 CT     13330.275
 DE      2902.520
 FL     41312.078
 GA     22774.182
 HI      4734.794
 ID      3878.683
 IL     35670.456
 IN     16242.613
 IA      8090.747
 KS      7689.080
 KY     11919.724
 LA     11667.748
 ME      3953.408
 MD     16171.774
 MA     23626.434
 MI     32270.168
 MN     18519.120
 MS      7609.214
 MO     14474.505
 MT      2401.192
 NE      4757.447
 NV      5929.949
 NH      3014.979
 NJ     27764.413
 NM      5833.181
 NY     63942.652
 NC     23806.069
 ND      1800.903
 OH     31007.735
 OK      9811.291
 OR      9366.404
 PA     34874.993
 RI      3306.264
 SC     10477.205
 SD      1735.793
 TN     13792.745
 TX     50793.919
 UT      6351.680
 VT      2165.717
 VA     20282.079
 WA     18672.800
 WV      5223.850
 WI     17174.182
 WY      1618.046
 dtype: float64,
 2002: AL     6514.246
 AK     1090.145
 AZ     8482.760
 AR     5178.758
 CA    77790.364
 CO     6927.669
 CT     9036.246
 DE     2174.406
 FL    25368.918
 GA    13780.687
 HI     3421.906
 ID     2272.418
 IL    22487.359
 IN    10206.748
 IA     5009.186
 KS     4811.074
 KY     7978.780
 LA     7361.413
 ME     2628.128
 MD    10826.718
 MA    14829.005
 MI    21874.094
 MN    13229.061
 MS     4731.773
 MO     8734.612
 MT     1443.641
 NE     2994.248
 NV     3947.497
 NH     1898.297
 NJ    18337.391
 NM     3629.910
 NY    43281.288
 NC    15545.678
 ND     1117.933
 OH    20141.825
 OK     6056.168
 OR     5167.210
 PA    22147.865
 RI     2128.678
 SC     6091.898
 SD      977.356
 TN     7803.473
 TX    28684.118
 UT     3927.702
 VT     1519.096
 VA    12788.423
 WA    12634.634
 WV     3553.561
 WI    11819.271
 WY     1094.901
 dtype: float64,
 2003: AL     6420.855
 AK     1120.781
 AZ     8697.340
 AR     5148.282
 CA    79233.718
 CO     6640.738
 CT     9512.132
 DE     2117.276
 FL    27010.486
 GA    13420.308
 HI     3571.073
 ID     2345.711
 IL    22224.342
 IN    11222.656
 IA     4925.397
 KS     5011.136
 KY     8322.825
 LA     7454.001
 ME     2698.584
 MD    10985.836
 MA    15614.447
 MI    22758.241
 MN    13986.351
 MS     5002.027
 MO     8633.115
 MT     1487.937
 NE     3349.437
 NV     4131.379
 NH     1960.500
 NJ    19944.908
 NM     3609.035
 NY    42272.503
 NC    15857.071
 ND     1178.360
 OH    20663.035
 OK     5909.390
 OR     5705.255
 PA    23199.673
 RI     2257.730
 SC     6357.264
 SD     1013.720
 TN     8817.457
 TX    29120.687
 UT     3957.167
 VT     1559.331
 VA    12976.542
 WA    12966.351
 WV     3595.804
 WI    12095.244
 WY     1217.656
 dtype: float64,
 2004: AL     7022.800
 AK     1343.855
 AZ     9643.308
 AR     5583.457
 CA    85757.615
 CO     7056.122
 CT    10294.799
 DE     2376.326
 FL    30552.073
 GA    14579.646
 HI     3850.410
 ID     2649.219
 IL    23722.381
 IN    11963.742
 IA     5217.568
 KS     5286.421
 KY     8467.573
 LA     7745.813
 ME     2976.847
 MD    12233.028
 MA    16845.642
 MI    24071.186
 MN    14740.054
 MS     5127.651
 MO     9125.464
 MT     1626.628
 NE     3641.570
 NV     4719.075
 NH     2006.699
 NJ    20994.922
 NM     4003.708
 NY    45845.684
 NC    16845.137
 ND     1229.527
 OH    22486.992
 OK     6430.261
 OR     6106.712
 PA    25359.310
 RI     2409.937
 SC     6807.823
 SD     1063.498
 TN     9535.134
 TX    30774.720
 UT     4198.432
 VT     1767.342
 VA    14240.632
 WA    13901.634
 WV     3750.830
 WI    12643.802
 WY     1505.286
 dtype: float64,
 2005: AL     7778.705
 AK     1858.975
 AZ    11014.367
 AR     6541.499
 CA    98470.817
 CO     7653.121
 CT    11588.238
 DE     2591.061
 FL    33912.761
 GA    15674.636
 HI     4435.631
 ID     2935.888
 IL    26424.452
 IN    12860.248
 IA     5781.316
 KS     5640.552
 KY     9095.055
 LA     8643.198
 ME     3216.892
 MD    13372.514
 MA    18041.261
 MI    23535.308
 MN    15886.264
 MS     5435.073
 MO     9549.614
 MT     1876.481
 NE     3798.310
 NV     5672.584
 NH     2012.085
 NJ    24256.366
 NM     4480.249
 NY    51345.699
 NC    18648.301
 ND     1403.930
 OH    24022.702
 OK     6862.578
 OR     6526.306
 PA    27275.399
 RI     2629.823
 SC     7322.643
 SD     1110.811
 TN    10013.255
 TX    32807.802
 UT     4705.800
 VT     2243.525
 VA    15926.414
 WA    14845.922
 WV     4302.973
 WI    13157.787
 WY     1740.155
 dtype: float64,
 2006: AL      8529.676
 AK      2484.422
 AZ     13355.582
 AR      7015.781
 CA    111346.857
 CO      8533.541
 CT     12131.894
 DE      2860.749
 FL     40132.721
 GA     17023.264
 HI      4918.655
 ID      3142.663
 IL     28055.188
 IN     13625.667
 IA      6118.897
 KS      6275.075
 KY      9713.808
 LA      9752.953
 ME      3598.579
 MD     14549.632
 MA     19419.634
 MI     23714.514
 MN     17331.413
 MS      5989.603
 MO     10180.598
 MT      2126.324
 NE      3961.093
 NV      6152.980
 NH      2080.573
 NJ     26266.187
 NM      5110.683
 NY     57402.970
 NC     20602.902
 ND      1621.912
 OH     25412.275
 OK      7817.488
 OR      7590.306
 PA     29050.577
 RI      2741.734
 SC      7759.797
 SD      1189.089
 TN     10660.344
 TX     36591.749
 UT      5461.647
 VT      2406.661
 VA     17288.324
 WA     16410.977
 WV      4547.929
 WI     13795.044
 WY      2122.239
 dtype: float64,
 2007: AL      8868.314
 AK      3688.447
 AZ     14404.976
 AR      7391.778
 CA    114736.981
 CO      9216.983
 CT     13271.789
 DE      2905.905
 FL     38818.707
 GA     18253.216
 HI      5090.499
 ID      3536.574
 IL     30065.517
 IN     14198.709
 IA      6469.752
 KS      6893.359
 KY      9895.207
 LA     10973.115
 ME      3696.065
 MD     15094.183
 MA     20691.368
 MI     23848.753
 MN     17768.434
 MS      6481.876
 MO     10705.687
 MT      2319.992
 NE      4122.427
 NV      6304.752
 NH      2175.057
 NJ     29487.862
 NM      5527.217
 NY     63161.582
 NC     22612.798
 ND      1782.990
 OH     25697.905
 OK      8140.573
 OR      7742.862
 PA     30837.657
 RI      2766.046
 SC      8688.935
 SD      1265.925
 TN     11390.037
 TX     40314.714
 UT      6075.590
 VT      2563.506
 VA     18666.687
 WA     17705.980
 WV      4642.230
 WI     14482.624
 WY      2025.090
 dtype: float64,
 2008: AL      9070.530
 AK      8732.385
 AZ     13153.271
 AR      7530.504
 CA    117361.976
 CO      9624.636
 CT     13946.399
 DE      2930.955
 FL     35977.055
 GA     18070.032
 HI      5147.569
 ID      3651.917
 IL     29916.869
 IN     15117.458
 IA      6892.041
 KS      7159.748
 KY     10043.875
 LA     11003.870
 ME      3785.719
 MD     15743.757
 MA     22059.169
 MI     24781.626
 MN     18320.891
 MS      6745.743
 MO     10919.336
 MT      2457.929
 NE      4228.800
 NV      6148.455
 NH      2251.179
 NJ     30616.510
 NM      5211.507
 NY     65244.750
 NC     22809.716
 ND      2312.056
 OH     26074.544
 OK      8330.786
 OR      7487.873
 PA     32123.740
 RI      2761.356
 SC      8435.550
 SD      1321.368
 TN     11538.430
 TX     45536.833
 UT      6109.256
 VT      2544.197
 VA     18322.873
 WA     17959.833
 WV      4881.908
 WI     14915.012
 WY      2404.843
 dtype: float64,
 2009: AL      8306.446
 AK      4955.884
 AZ     11134.403
 AR      7467.679
 CA    101007.459
 CO      8682.822
 CT     12160.036
 DE      2799.103
 FL     32053.099
 GA     16077.948
 HI      4712.651
 ID      3171.863
 IL     27415.532
 IN     14901.436
 IA      6985.090
 KS      6694.630
 KY      9740.886
 LA     10201.931
 ME      3488.960
 MD     15285.561
 MA     19682.914
 MI     22757.818
 MN     17161.299
 MS      6490.579
 MO     10274.618
 MT      2407.400
 NE      4000.939
 NV      5611.626
 NH      2125.722
 NJ     27186.553
 NM      4817.277
 NY     64756.423
 NC     20525.663
 ND      2414.494
 OH     23920.056
 OK      8192.191
 OR      7115.043
 PA     30071.179
 RI      2586.184
 SC      7636.726
 SD      1341.758
 TN     10433.133
 TX     41779.699
 UT      5422.858
 VT      2505.704
 VA     16607.511
 WA     16407.536
 WV      4787.352
 WI     14447.245
 WY      2763.610
 dtype: float64,
 2010: AL      8419.911
 AK      4522.927
 AZ     10719.958
 AR      7559.898
 CA    107195.465
 CO      8575.262
 CT     12344.106
 DE      2763.032
 FL     30484.883
 GA     14782.779
 HI      4837.862
 ID      2951.703
 IL     27795.759
 IN     13795.221
 IA      6809.344
 KS      6492.996
 KY      9531.404
 LA      8758.633
 ME      3489.953
 MD     15237.748
 MA     20090.563
 MI     22208.870
 MN     17208.877
 MS      6268.823
 MO      9707.053
 MT      2142.809
 NE      3864.897
 NV      5835.963
 NH      2271.936
 NJ     25927.891
 NM      4295.237
 NY     63807.610
 NC     21514.930
 ND      2645.695
 OH     23583.596
 OK      7082.161
 OR      7475.135
 PA     30169.122
 RI      2568.759
 SC      7242.724
 SD      1321.228
 TN     10513.788
 TX     39516.186
 UT      5237.427
 VT      2511.387
 VA     16411.055
 WA     16106.154
 WV      4803.704
 WI     14368.569
 WY      2158.260
 dtype: float64,
 2011: AL      8631.984
 AK      5537.679
 AZ     12265.219
 AR      7952.824
 CA    119164.086
 CO      9467.684
 CT     13540.174
 DE      3261.594
 FL     31635.260
 GA     16003.250
 HI      4857.729
 ID      3261.722
 IL     30880.437
 IN     15060.893
 IA      7325.492
 KS      6797.501
 KY     10198.800
 LA      8865.421
 ME      3675.810
 MD     16086.686
 MA     22107.646
 MI     23821.872
 MN     18952.919
 MS      6549.779
 MO     10115.576
 MT      2303.516
 NE      4145.889
 NV      6332.128
 NH      2251.105
 NJ     27182.753
 NM      4929.096
 NY     67945.152
 NC     22400.573
 ND      2960.240
 OH     25018.133
 OK      7776.210
 OR      8017.377
 PA     32352.286
 RI      2713.283
 SC      7705.772
 SD      1380.051
 TN     11397.010
 TX     43146.096
 UT      5516.864
 VT      2687.926
 VA     17416.204
 WA     17411.033
 WV      5210.925
 WI     15347.327
 WY      2271.704
 dtype: float64,
 2012: AL      9049.294
 AK      7049.398
 AZ     12996.421
 AR      8287.744
 CA    115178.568
 CO     10262.977
 CT     15480.865
 DE      3280.185
 FL     32997.012
 GA     16715.216
 HI      5516.146
 ID      3374.291
 IL     36257.762
 IN     16289.491
 IA      7932.494
 KS      7418.341
 KY     10619.106
 LA      8994.053
 ME      3777.130
 MD     17094.560
 MA     22820.892
 MI     23919.741
 MN     20560.540
 MS      6953.365
 MO     10801.860
 MT      2459.324
 NE      4366.617
 NV      6775.112
 NH      2205.045
 NJ     27456.175
 NM      5470.982
 NY     71545.745
 NC     22714.557
 ND      4146.149
 OH     25928.118
 OK      8823.958
 OR      8728.095
 PA     32949.917
 RI      2868.188
 SC      8062.639
 SD      1521.928
 TN     11380.078
 TX     47991.110
 UT      5809.955
 VT      2731.036
 VA     18144.897
 WA     17624.715
 WV      5285.773
 WI     15995.335
 WY      2304.628
 dtype: float64,
 2013: AL      9270.919
 AK      5132.811
 AZ     13796.918
 AR      8586.767
 CA    133184.246
 CO     11255.253
 CT     16046.433
 DE      3346.316
 FL     35432.266
 GA     17932.461
 HI      6111.278
 ID      3578.068
 IL     38729.322
 IN     16881.138
 IA      8681.675
 KS      7615.894
 KY     10875.039
 LA      9223.829
 ME      3884.450
 MD     18118.191
 MA     23901.047
 MI     24936.087
 MN     22895.574
 MS      7402.725
 MO     11139.394
 MT      2644.610
 NE      4718.944
 NV      7026.626
 NH      2352.699
 NJ     29076.881
 NM      5390.841
 NY     73667.171
 NC     23818.371
 ND      5298.770
 OH     27242.072
 OK      8892.503
 OR      9160.887
 PA     33965.626
 RI      2931.631
 SC      8735.455
 SD      1533.573
 TN     11727.736
 TX     51801.010
 UT      6294.473
 VT      2850.183
 VA     19186.584
 WA     18787.187
 WV      5389.952
 WI     16513.692
 WY      2186.054
 dtype: float64,
 2014: AL      9296.846
 AK      3392.870
 AZ     13424.271
 AR      8917.322
 CA    138131.690
 CO     11755.394
 CT     15937.742
 DE      3176.169
 FL     36335.598
 GA     18618.093
 HI      6052.795
 ID      3669.222
 IL     39922.538
 IN     16846.961
 IA      8572.532
 KS      7334.481

In [9]:
tax_names = list(code_dfs.keys())
for code, df in code_dfs.items():
    print(code)
    print(df)
    code_dfs[code] = pd.DataFrame(df)
    code_dfs[code].index.name = "State"
    code_dfs[code] = code_dfs[code].reset_index().melt(id_vars=["State"], 
        var_name="Year", 
        value_name=code).set_index(["State", "Year"])#     panel.loc[panel.index.isin(code_dfs[code].index),code] = code_dfs[code]
    panel[code + "/GDP"] = panel[code].div(panel["GDP"]).mul(100)

T01
        1992      1993      1994      1995      1996      1997      1998  \
AL    69.048   101.135   112.596   118.202   134.252   131.229   139.818
AK   288.356    66.918    61.612    57.294    56.168    53.567    48.516
AZ    11.089   327.279   313.841   331.090   363.315   256.879   252.153
AR  2946.074     4.868     5.708     6.395     7.363     8.355     9.091
CA     7.382  2931.667  2999.953  3176.874  3375.264  3611.595  3870.605
CO     0.012     8.618     8.597     6.614     0.000     0.000     8.138
CT     0.000     0.012     0.015     0.012     0.038     0.012     0.013
DE   490.073     0.000     0.000     0.000     0.000     0.000     0.000
FL    27.758   666.360   681.484   706.021   754.482   787.614   984.694
GA     0.000    31.726    33.779    32.893    35.651    38.155    37.824
HI     0.012     0.000     0.000     0.000     0.000     0.000     0.000
ID   223.973     0.109     0.000     0.111     0.000     0.000     0.000
IL     4.431   222.675   217.726   204.886   212.144   204.263   206.134
IN     0.000     3.041     3.020     3.174     2.876     4.203     3.377
IA    34.043     0.000     0.000     0.000     0.000     0.000     0.000
KS   338.548    34.798    35.759    38.038    40.362    43.804    46.080
KY    42.584   354.996   370.782   398.618   411.635   414.857   364.019
LA    41.453    38.639    48.815    36.691    20.304    25.324    22.805
ME   193.770    42.311    41.625    42.081    43.467    42.216    43.056
MD     0.195   207.548   219.142   239.994   226.767   236.099   241.504
MA   321.346     0.147     0.310     0.173     0.102     0.128     0.152
MI     7.961   313.927   692.835  1488.087  1640.411  1688.279  1569.191
MN    22.617     8.155     8.200     8.632     8.288     9.748     9.772
MS    12.896    22.811    22.731    22.988    23.733    22.816     2.034
MO   182.204    13.307    13.607    14.033    14.626    15.532    16.765
MT     0.207   234.637   226.373   229.500   229.692   234.906   227.511
NE    41.099     2.723     3.407     3.471     4.114     4.923     4.967
NV     0.319    44.878    55.595    57.817    55.094    61.293    71.978
NH    14.158     0.394     0.743     0.130     0.424     0.588     0.583
NJ    21.400    11.145    11.332     5.606     2.770     2.540     2.524
NM     0.000    27.865    33.269    27.422    36.560    39.600    37.029
NY   112.183     0.000     0.000     0.000     0.000     0.000     0.000
NC     1.908   120.592   127.087   128.616    11.448     0.000     0.217
ND    11.581     2.134     1.953     1.991     2.079     2.212     2.295
OH     0.000    13.136    13.239    13.509    17.227    17.614    17.067
OK     0.136     0.000     0.000     0.000     0.000     0.000     0.000
OR   210.818     0.093     0.090     0.193     0.091     0.079     0.076
PA    17.858   236.541   230.255   228.995   221.469   203.497   149.547
RI    12.585     9.685     7.414     8.223     9.125     4.115     1.506
SC     0.000    12.503    12.331    14.297    11.892    13.604    11.583
SD     0.000     0.000     0.000     0.000     0.000     0.000     0.000
TN     0.000     0.000     0.000     0.000     0.000     0.000     0.000
TX     0.271     0.000     0.000     0.000     0.000     0.000     0.000
UT     9.754     0.000     0.000     0.000     0.000     0.000     0.000
VT    15.351     9.677     9.664     9.635    10.562    10.296     9.993
VA  1386.622    15.318    15.721    19.672    18.808    21.600    21.268
WA     2.053  1500.147  1606.396  1686.091  1800.457  1926.666  2047.332
WV    53.960     2.555     2.038     2.336     2.416     2.780     2.723
WI    87.697    68.876    52.678    61.537    84.437    76.345    75.630
WY   903.319    82.446    84.278    86.363    83.611    85.571    98.984

        1999      2000      2001  ...      2006      2007      2008      2009  \
AL   164.495   179.828   183.163  ...   249.383   273.501   301.034   315.784
AK    48.704    44.608    45.116  ...    54.507    65.780    81.518   111.251
AZ   268.092   296.706   312.273  ...   878.057   924.995   901.872   835.240
AR   453.729   481.893   434.194  ...   574.980   633.016   682.174   733.035
CA  3842.945  3330.868  3321.844  ...  2260.724  2304.092  2279.103  2335.214
CO     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
CT     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
DE     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
FL   960.814   762.653   498.924  ...   187.941    40.518     2.100     0.800
GA    43.575    48.147    50.948  ...    75.676    78.958    81.928    82.764
HI     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
ID     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
IL   210.240    54.452    58.711  ...    64.596    60.397    59.134    63.853
IN     3.890     3.739     4.583  ...     7.569     5.427     7.170     7.499
IA     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
KS    47.352    48.601    52.148  ...    65.220    73.383    79.026    80.137
KY   371.378   388.727   412.535  ...   505.248   493.623   503.105   513.121
LA    25.717    24.900    24.607  ...    45.591    38.757    46.643    64.377
ME    42.691    30.550    47.508  ...    41.190    37.807    37.280    41.719
MD   249.751   256.027   262.028  ...   576.515   595.373   630.809   688.535
MA     0.168     0.151     0.105  ...     0.076     0.074     3.798     4.255
MI  1580.622  1702.501  1790.053  ...  2240.348  2322.506  2264.306  2163.428
MN     9.281     9.411     9.509  ...   634.697   674.559   712.463   713.019
MS     1.280     1.378     1.293  ...    44.661    47.621    23.979    24.393
MO    17.417    18.430    19.418  ...    25.107    26.397    28.970    30.031
MT   228.305   218.883   204.240  ...   194.362   201.825   220.327   235.150
NE     4.739     4.363     5.439  ...     2.473     2.395     2.264     1.964
NV    82.716    92.743    99.108  ...   163.531   184.467   213.293   231.596
NH     0.549   473.711   458.170  ...   384.241   385.268   387.623   392.652
NJ     1.100     3.039     3.146  ...     3.479     3.796     2.998     2.405
NM    38.232    34.877    40.220  ...    55.300    55.644    57.665    65.076
NY     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
NC     0.031     0.019     0.004  ...     0.000     0.000     0.000     0.000
ND     2.398     2.486     2.576  ...     1.621     1.787     1.901     1.942
OH    16.516    22.615    24.913  ...    41.758     0.000     0.000     0.000
OK     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
OR     0.106     0.106     0.000  ...    23.610    21.791    21.569    22.121
PA   176.415   117.436    58.245  ...    60.491    64.467    58.681    55.536
RI     0.613     0.948     0.959  ...     1.480     1.479     1.083     1.617
SC     7.527    12.663    13.571  ...     9.808     9.361     9.935     9.994
SD     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
TN     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
TX     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
UT     0.000     0.000     0.000  ...     0.000     0.000     0.000     0.000
VT   386.092   404.710   367.459  ...   824.375   889.022   810.051   911.811
VA    27.294    34.075    30.587  ...    20.021    20.676    22.153    31.375
WA  2155.335  1697.689  1399.497  ...  1629.571  1688.530  1741.691  1785.065
WV     2.865     3.537     3.613  ...     3.910     4.104     4.627     4.868
WI    82.033    87.155    79.640  ...   113.585   120.103   124.513   134.006
WY    99.226   101.396   110.012  ...   217.907   266.498   278.812   287.169

        2010      2011      2012      2013      2014      2015
AL   316.354   315.698   321.530   325.652   332.689   336.825
AK   118.870   184.254   215.407    99.598   128.076   127.821
AZ   774.613   758.304   754.428   762.651   823.508   882.643
AR   928.627   961.130  1008.707  1022.066  1057.918  1088.431
CA  3353.597  3207.301  2079.878  1982.208  2176.236  2315.507
CO     0.000     0.000     0.000     0.000     0.000     0.000
CT     0.000     0.000     0.000     0.000     0.000     0.000
DE     0.000     0.000     0.000     0.000     0.000     0.000
FL     0.700     0.320     0.140     0.360     0.250     0.070
GA    86.228    76.704    68.951   201.834   788.350   862.493
HI     0.000     0.000     0.000     0.000     0.000     0.000
ID     0.000     0.000     0.000     0.000     0.000     0.000
IL    50.962    58.273    65.106    61.806    54.710    60.959
IN     0.000     5.232     6.336     7.008     8.052     8.834
IA     0.000     0.000     0.000     0.000     0.000     1.772
KS    74.745    71.876    74.413    79.475    81.267   658.758
KY   516.170   514.814   529.567   558.377   562.370   563.435
LA    49.426    51.791    50.937    52.686    55.363    56.658
ME    45.713    45.514    38.360    38.636    35.755    37.028
MD   774.109   793.304   755.937   750.927   725.694   738.170
MA     4.549     6.167     4.441     4.795     4.710     5.311
MI  2065.215  1970.274  1911.188  1879.024  1919.910  1963.036
MN   765.742   774.891   807.700   815.756   837.145   839.487
MS    24.396    24.454    23.982    24.122    25.103    25.961
MO    29.538    29.719    29.217    29.896    29.725    30.265
MT   236.830   243.684   257.189   262.313   268.508   268.057
NE     1.168     0.119     0.078     0.148     0.143     0.119
NV   363.218   320.228   234.522   235.143   258.600   242.168
NH   393.796   399.498   380.682   400.369   383.126   404.579
NJ     3.908     4.228     5.650     4.620     6.705     4.547
NM    59.624    58.329    81.190    69.217   105.637   108.803
NY     0.000     0.000     0.000     0.000     0.000     0.000
NC     0.000     0.000     0.000     0.000     0.000     0.000
ND     2.125     2.292     2.398     2.808     3.026     3.505
OH     0.000     0.000     0.000     0.000     0.000     0.000
OK     0.000     0.000     0.000     0.000     0.000     0.000
OR    25.092    21.846    15.710    19.893    21.740    20.336
PA    55.363    47.658    38.452    55.537    45.017    41.859
RI     2.046     2.122     2.095     2.331     2.567     2.480
SC     9.986     8.311     8.811    22.699    21.664    26.394
SD     0.000     0.000     0.000     0.000     0.000     0.000
TN     0.000     0.000     0.000     0.000     0.000     0.000
TX     0.000     0.000     0.000     0.000     0.000     0.000
UT     0.000     0.000     0.000     0.000     0.000     0.000
VT   941.894   955.512   924.451   943.408   985.478  1035.611
VA    31.181    39.042    34.297    33.188    35.561    32.712
WA  1822.278  1857.838  1897.095  1939.883  1974.354  2018.393
WV     5.834     6.016     6.039     6.149     6.651     6.678
WI   142.653   147.346   155.571   148.600   159.069   165.155
WY   377.209   284.351   316.734   331.899   300.096   318.569

[50 rows x 24 columns]

KeyError: 'T01'

In [ ]:
# import matplotlib.pyplot as plt
# plot_df = panel.groupby("Year").sum().loc["2000":"2015"]
# tax_names = list(code_dfs.keys())
# fig, ax = plt.subplots(figsize = (20,10))
# plot_df[tax_names[:-1]].plot.area(
#     legend = False, 
#     ax = ax)
# plot_df[tax_names[-1]].plot.line(ls = "--", 
#                                  linewidth = 5, 
#                                  color = "k",
#                                  ax = ax)
plot_df

In [ ]:
tax_gdp_names = [name + "/GDP" for name in tax_names]
fig, ax = plt.subplots(figsize = (20,10))
plot_df[tax_gdp_names[:-1]].plot.area(
    legend = False, 
    ax = ax)
plot_df[tax_gdp_names[-1]].plot.line(ls = "--", 
                                 linewidth = 5, 
                                 color = "k",
                                 ax = ax)

In [ ]:
plot_df

In [ ]:

fig, ax = plt.subplots(figsize = (20,20))
pd.plotting.scatter_matrix(panel[["EFW","GDP","TotalTax/GDP","T01/GDP"]].diff(5)
                           , alpha = .5, s = 200 / 3, ax=ax)  
panel[["EFW","GDP","TotalTax/GDP","T01/GDP"]].corr()

In [ ]:
log_data = np.log(panel[["GDP","TotalTax","T01"]])
log_data.describe()